<div th:fragment="breadcrumb" class="row page-title-header"  th:with="title =  ${#strings.substring(currentPage, 1, #strings.length(currentPage))}">
    <div class="col-12">
     <div class="page-header" >
        <h4 class="page-title" th:text="${#strings.toUpperCase(title)}">Title</h4>
     </div>

    </div>
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb" >
	  
	  <th:block th:each="list: ${currentBreadcrumb}">
	    <li class="breadcrumb-item" th:each="breadCrumbMap : ${list}"><a th:href="${breadCrumbMap.value}">[[${#strings.capitalize(breadCrumbMap.key)}]]</a></li>
	  
	  </th:block>
	  
	  </ol>
	</nav>
</div>