<footer class="footer text-center bg-light" th:fragment="compact_footer" style="border-bottom-left-radius: 14.5px;border-bottom-right-radius: 14.5px;">
  <div class="container-fluid text-center d-flex clearfix p-0">
  <p class="text-muted text-center p-0 my-1 my-auto"><a href="http://www.o2dent.com/" class="text-muted text-center" target="_blank">Oxydent</a> © 2022 </p>
    <ul class="auth-footer ml-auto my-2" style="text-align:end;">
	  <li class="mx-0 pl-0 " >
	    <a href="#">[[#{Help}]]</a>
	  </li>
	  <li class="mx-0 pl-2 pr-2">
	    <a href="#">[[#{Terms}]]</a>
	  </li>
	  <li class="mx-0 pl-2 pr-0">
	    <a href="#">[[#{Conditions}]]</a>
	  </li>
  	</ul>
   <!-- <p class="text-muted d-block text-center text-sm-center p-0 m-0">[[#{RightsReserved}]]</p>
   <p class="float-none float-sm-center d-block mt-1 mb-0 text-center">[[#{HandcraftedFooter}]] <i class="mdi mdi-heart text-danger"></i></p> -->
  </div>
</footer>
