<footer class="footer" th:fragment="footer">
  <ul class="auth-footer">
    <li>
      <a href="#">Conditions</a>
    </li>
    <li>
      <a href="#">Help</a>
    </li>
    <li>
      <a href="#">Terms</a>
    </li>
  </ul>
  <div class="container-fluid text-center clearfix">
   <p class="text-muted d-block text-center text-sm-center d-sm-inline-block" style="margin-bottom: auto;">Copyright © 2021 <a href="http://www.visionous.com/" target="_blank">Visionous.com</a>. &nbsp; [[#{RightsReserved}]]</p>
   <span class="float-none float-sm-center d-block mt-0 mt-sm-0 text-center">[[#{HandcraftedFooter}]] <i class="mdi mdi-heart text-danger"></i></span>
  </div>
</footer>
