<footer class="footer text-center" th:fragment="footer">
  <div class="container-fluid text-center clearfix p-0">
    <ul class="auth-footer">
	  <li>
	    <a href="#">[[#{Help}]]</a>
	  </li>
	  <li>
	    <a href="#">[[#{Terms}]]</a>
	  </li>
	  <li>
	    <a href="#">[[#{Conditions}]]</a>
	  </li>
  	</ul>
   <p class="text-muted d-block text-center text-sm-center p-0 m-0"> <a href="https://www.o2dent.com/" class="text-muted text-center" target="_blank">
   <img src="/assets/images/OxydentFavicon.png" class="mb-1" />
   </a> © 2022 <span class="blockquote-footer" style="display: inline-flex;font-size: 60%;">v.[[${@environment.getProperty("dcms.app.version")}]][[${@environment.getProperty("dcms.app.environment")}]]</span> </p>
   <p class="text-muted d-block text-center text-sm-center p-0 m-0">[[#{RightsReserved}]]</p>
   
   <!--  <p class="float-none float-sm-center d-block mt-1 mb-0 text-center">[[#{HandcraftedFooter}]] <i class="mdi mdi-heart text-danger"></i></p> -->
  </div>
</footer>
