<span th:fragment="modals" >
	<!-- Edit Modal -->
	<div th:id="${viewType}+'Modal'" class="modal fade" role="dialog" >
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" >Quick [[${#strings.capitalize(viewType)}]]</h4>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
	      </div>
	      <form th:with="url=${currentPage == '/personnel' ? '/admin' : ''}" class="forms-sample" th:action="@{__${url}____${currentPage}__}" method="POST" enctype="multipart/form-data" th:object="${selected}">
		      <div class="modal-body" th:with="modalBodyUrl = 'demo_1/partials'+${currentPage}+'/modals/_'+${viewType}+' :: '+ ${viewType}">
					<section  th:replace="__${modalBodyUrl}__">
					  	<!-- partial:partials/_edit.html partial:partials/_delete.html-->
					</section>
		      </div>
		      <div class="modal-footer" >
		    	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="submit" th:class="${viewType=='delete'} ? 'btn btn-danger':'btn btn-primary'">[[${#strings.capitalize(viewType)}]]</button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>
</span>