	<head  th:fragment="header">
	  <!-- Required meta tags -->
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 <meta name="_csrf" th:content="${_csrf.token}"/>
	 <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	 
	 <title>Dental Management System</title>
	 <!-- plugins:css -->
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	 
	 <link rel="stylesheet" type="text/css"  href="/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
	 <link rel="stylesheet" type="text/css"  href="/assets/vendors/iconfonts/ionicons/css/ionicons.css">
	 <link rel="stylesheet" type="text/css"  href="/assets/vendors/bootstrap-tagsinput-latest/src/bootstrap-tagsinput.css">
	 <link rel="stylesheet" type="text/css"  href="/assets/vendors/iconfonts/typicons/src/font/typicons.css">
	 <link rel="stylesheet" type="text/css"  href="/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
	 <link rel="stylesheet" type="text/css"  href="/assets/vendors/css/vendor.bundle.base.css">
	 <link rel="stylesheet" type="text/css"  href="/assets/vendors/css/vendor.bundle.addons.css">
	 <link rel="stylesheet" type="text/css"  href="/assets/vendors/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
	 <link rel="stylesheet" href="/assets/vendors/iconfonts/font-awesome/css/font-awesome.min.css" />
	 <link rel="stylesheet" href="/assets/vendors/bootstrap-fileinput-master/css/fileinput.min.css" />
	 
	 
	 <!-- endinject -->
	 <!-- plugin css for this page -->
	 
	 <link rel="stylesheet" type="text/css"  href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
	 <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />
	 <link rel="stylesheet" href="/assets/vendors/bootstrap-daterangepicker-master/daterangepicker-bs3.css">
	 <link rel="stylesheet" href="/assets/vendors/multi_select/dist/css/bootstrap-multiselect.min.css">
	 
	 <!-- End plugin css for this page -->
	 <!-- inject:css -->
	 <link rel="stylesheet" type="text/css"  href="/assets/css/shared/style.css">
	 <!-- endinject -->
	 <!-- Layout styles -->
	 <link rel="stylesheet" type="text/css"  href="/assets/css/demo_1/style.css">
	 <link rel="stylesheet" type="text/css"  href="/assets/vendors/mouth/css/style.css">
	 <!-- End Layout styles -->
     <link rel="shortcut icon" type="text/svg" href="/assets/images/favicon.png" />
	 <script
	  src="https://code.jquery.com/jquery-3.5.1.js"
	  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	  crossorigin="anonymous"></script>
      <!-- Plugin js for this page-->
      <script type="text/javascript" src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
      <script type="text/javascript" src="/assets/vendors/bootstrap-tagsinput-latest/src/bootstrap-tagsinput.js"></script> 
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
	  <script type="text/javascript" src="/assets/vendors/bootstrap-daterangepicker-master/daterangepicker.js"></script>
      <script type="text/javascript" src="/assets/vendors/multi_select/dist/js/bootstrap-multiselect.min.js" ></script>
      <script type="text/javascript" src="/assets/vendors/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
      <script type="text/javascript" src="/assets/vendors/bootstrap-fileinput-master/js/fileinput.min.js"></script> 
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
       
       <!--Custom js-->
      <script src="/assets/js/demo_1/dateutils.js"></script>
	</head>
