<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row" th:fragment="navbar">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center" 
  		th:with="imgUrl = ${logo != null ? '/resources/business/img/logo/'+logo : '/assets/images/logo.svg'},
  		imgUrlMini = ${logo != null ? '/resources/business/img/logo/'+logo : '/assets/images/logo-mini.svg'}">
    <a class="navbar-brand brand-logo" href="/">
      <img th:src="${imgUrl}" alt="logo" /> </a>
    <a class="navbar-brand brand-logo-mini" href="/">
      <img th:src="${imgUrlMini}" alt="logo" /> </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
		<span class="mdi mdi-menu"></span>
  	</button>
    <ul class="navbar-nav">
      <li class="nav-item font-weight-semibold d-none d-lg-block">[[#{Help}]] : +355 0696433538</li>
      <li class="nav-item dropdown language-dropdown" id="LanguageDropdown">
        <a class="nav-link dropdown-toggle px-2 d-flex align-items-center" href="#" data-toggle="dropdown" aria-expanded="false">
          <div class="d-inline-flex mr-0 mr-md-3"  >
            <div class="flag-icon-holder">
              <i class="flag-icon flag-icon-us"></i>
            </div>
          </div>English
        </a>
        <div class="dropdown-menu dropdown-menu-left navbar-dropdown py-2" aria-labelledby="LanguageDropdown" id="languageItems">
          <a class="dropdown-item" href="?lang=al_SQ">
            <div class="flag-icon-holder">
              <i class="flag-icon flag-icon-al"></i>
            </div>Albania
          </a>
        </div>
      </li>
    </ul>
    <form class="ml-auto search-form d-none d-md-block" action="#">
      <div class="form-group">
        <!-- <input type="search" class="form-control" placeholder="Search Here"> -->
      </div>
    </form>
    <ul class="navbar-nav ml-auto">
    
	 <div id="sound"></div>

      <li class="nav-item dropdown" id="notificationDropdown">
        <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
          <i class="mdi mdi-bell-outline"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="notificationDropdown">
          <a class="dropdown-item py-3 border-bottom">
            <p class="mb-0 font-weight-medium float-left">You have no upcoming visits today! </p>
          </a>
        </div>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link count-indicator" id="messageDropdown" href="#" data-toggle="dropdown">
          <i class="mdi mdi-email-outline"></i>
          <span class="count bg-success">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="messageDropdown">
          <a class="dropdown-item py-3">
            <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>
            <span class="badge badge-pill badge-primary float-right">View all</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <img src="/assets/images/faces/face10.jpg" alt="image" class="img-sm profile-pic"> </div>
            <div class="preview-item-content flex-grow py-2">
              <p class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>
              <p class="font-weight-light small-text"> The meeting is cancelled </p>
            </div>
          </a>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <img src="/assets/images/faces/face12.jpg" alt="image" class="img-sm profile-pic"> </div>
            <div class="preview-item-content flex-grow py-2">
              <p class="preview-subject ellipsis font-weight-medium text-dark">David Grey </p>
              <p class="font-weight-light small-text"> The meeting is cancelled </p>
            </div>
          </a>
          <a class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <img src="/assets/images/faces/face1.jpg" alt="image" class="img-sm profile-pic"> </div>
            <div class="preview-item-content flex-grow py-2">
              <p class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>
              <p class="font-weight-light small-text"> The meeting is cancelled </p>
            </div>
          </a>
        </div>
        
      </li> -->
      <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">

        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false" >
          <img th:if="${currentRoles!= null && currentRoles[0].name == 'CUSTOMER'}" class="img-xs rounded-circle" th:src="@{/resources/customer/img/profile/__${loggedInAccount.image}__}" alt="Profile image">
          <img th:if="${currentRoles!= null && currentRoles[0].name == 'PERSONNEL' && loggedInAccount.image != null}" class="img-xs rounded-circle" th:src="@{/resources/personnel/img/profile/__${loggedInAccount.image}__}" alt="Profile image"> 
          <img th:if="${currentRoles!= null && currentRoles[0].name == 'ADMIN' && loggedInAccount.image != null}" class="img-xs rounded-circle" th:src="@{/resources/personnel/img/profile/__${loggedInAccount.image}__}" alt="Profile image">
          <img th:if="${currentRoles!= null && loggedInAccount.image == null}" class="img-xs rounded-circle" th:src="'https://st3.depositphotos.com/4111759/13425/v/600/depositphotos_134255710-stock-illustration-avatar-vector-male-profile-gray.jpg'" alt="Profile image"> 
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
          <div class="dropdown-header text-center" >
            <img  th:if="${currentRoles!= null &&  currentRoles[0].name == 'CUSTOMER' && loggedInAccount.image != null}" class="img-md rounded-circle"  th:src="@{/resources/customer/img/profile/__${loggedInAccount.image}__}">
            <img class="img-md rounded-circle" th:if="${currentRoles!= null && currentRoles[0].name == 'PERSONNEL' && loggedInAccount.image != null}" th:src="@{/resources/personnel/img/profile/__${loggedInAccount.image}__}">
            <img class="img-md rounded-circle" th:if="${currentRoles!= null && currentRoles[0].name == 'ADMIN' && loggedInAccount.image != null}" th:src="@{/resources/personnel/img/profile/__${loggedInAccount.image}__}">
            <img class="img-md rounded-circle" th:if="${currentRoles!= null && loggedInAccount.image == null}"  th:src="'https://st3.depositphotos.com/4111759/13425/v/600/depositphotos_134255710-stock-illustration-avatar-vector-male-profile-gray.jpg'">
            <p class="mb-1 mt-3 font-weight-semibold">[[${loggedInAccount.name}]] [[${loggedInAccount.surname}]]</p>
            <p class="font-weight-light text-muted mb-0">[[${loggedInAccount.email}]]</p>
            <input type="hidden" id="accid" th:value="${loggedInAccount.id}">
          </div>
          <a class="dropdown-item" href="/account"><i class="dropdown-item-icon mdi mdi-account-outline text-primary"></i>[[#{MyProfile}]]</a>
          <!-- <a class="dropdown-item">Messages<i class="dropdown-item-icon ti-comment-alt"></i></a>
          <a class="dropdown-item">Activity<i class="dropdown-item-icon ti-location-arrow"></i></a>
          <a class="dropdown-item">FAQ<i class="dropdown-item-icon ti-help-alt"></i></a> -->
          <a class="dropdown-item" href="/logout" ><i class="dropdown-item-icon mdi mdi-power text-primary"></i>[[#{SignOut}]]</a>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
  <script th:inline="javascript">
	/*<![CDATA[*/
		var alName=/*[[#{AlbanianLangName}]]*/'';
  		var enName=/*[[#{EnglishLangName}]]*/'';
    /*]]>*/
  </script>
  <script>
  var read= false;
  
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);

  var alUrl="?lang=al_SQ";
  var enUrl="?lang=en_US";
  var alFlag="al";
  var enFlag="us";
  
  var chosenLangName = "[[${locale}]]";
  var chosenFlag;
  
  var nxtUrl = "";
  var nxtName = "";
  var nxtFlag = "";
  $(document).ready(function(){
	  
	  if(urlParams.has('lang') || chosenLangName != ''){
			var paramLang = urlParams.get("lang");
			
			if(paramLang == "al_SQ" || chosenLangName == 'al_SQ'){
				chosenLangName=alName;
				chosenFlag=alFlag;
				nxtUrl=enUrl;
				nxtName=enName;
				nxtFlag=enFlag;
			}else{
				chosenLangName=enName;
				chosenFlag=enFlag;
				nxtUrl=alUrl;
				nxtName=alName;
				nxtFlag=alFlag;
			}
	  
		  var langHTML = '<a class="nav-link dropdown-toggle px-2 d-flex align-items-center" href="#" data-toggle="dropdown" aria-expanded="false">'+
		  '<div class="d-inline-flex mr-0 mr-md-3" id="LanguageDropdown" >'+
		    '<div class="flag-icon-holder">'+
		      '<i class="flag-icon flag-icon-'+chosenFlag+'"></i>'+
		    '</div>'+
		  '</div>'+chosenLangName+
		  '</a>'+
		  '<div class="dropdown-menu dropdown-menu-left navbar-dropdown py-2" aria-labelledby="LanguageDropdown" id="languageItems">'+
		   '<a class="dropdown-item" href="'+nxtUrl+'">'+
		    '<div class="flag-icon-holder">'+
		      '<i class="flag-icon flag-icon-'+nxtFlag+'"></i>'+
		    '</div>'+nxtName+
		   '</a>'+
		  '</div>';
	
	
		  $("#LanguageDropdown").html(langHTML);
		  
	  }
  });
  
  
	$(document).ready(function(){

    	var token = $("meta[name='_csrf']").attr("content");
    	var header = $("meta[name='_csrf_header']").attr("content");
    	
	    $(document).ajaxSend(function(e, xhr, options) {
		    xhr.setRequestHeader(header, token);
		});
	    
		 $("#notificationDropdown").click(function(e){
		  read = true;
		  $("#notifCount").remove();
		 });
		 
	    getNotifications();

	    setInterval(function() {
	    	getNotifications();
	    }, 900000);
	    
	    
	    $("[data-toggle=minimize]").on("click",function(e){
	        var footer = $("footer");
	        
	        if($("body").hasClass("sidebar-icon-only")){
	            $("body").removeClass("sidebar-icon-only");
	            $(footer).removeClass("dropdown-item");
	            $(".sidebar").append(footer);
	        }else{
	            
	            $("body").addClass("sidebar-icon-only");
	            $(footer).addClass("dropdown-item");
	            $("[aria-labelledby='UserDropdown']").append(footer);
	            //close
	        }
	    });
	    
	});
	
	function playSound(filename){
		  var mp3Source = '<source src="' + filename + '.mp3" type="audio/mpeg">';
		  var oggSource = '<source src="' + filename + '.ogg" type="audio/ogg">';
		  var embedSource = '<embed hidden="true" autostart="true" loop="false" src="' + filename +'.mp3">';
		  document.getElementById("sound").innerHTML='<audio id="notificationSound">' + mp3Source + oggSource + embedSource + '</audio>';
		  document.getElementById("notificationSound").play();

	}
  
  function getNotifications(){
	  var id = $("#accid").val();
	    refreshNotifications(id, new Date(), function(data){
	    	if(data.error != "error"){
	    		parseHeaderTemplate(true, data.message,"/customer/dashboard/"+data.result[0].customer.id, data.result.length,data.result[0]);
	    	}else{
	    		read = false;
	    		parseHeaderTemplate(false, data.message,"","","");
	    	}
      });
  }
	
  function parseHeaderTemplate(hasNewNotification, notifMessage, notifUrl, notifCnt, data){
	  var notifHtml='';
	  var notifPreview = '';
	  if(notifCnt != ""){
		  var appDate = new Date(data.appointmentDate);
		  notifHtml = '<span class="count" id="notifCount">'+notifCnt+'</span></a>';
		  notifPreview = '<h6 class="preview-subject font-weight-normal text-dark mb-1">'+data.customer.account.name +', '+ data.customer.account.surname+'</h6>'+
          '<p class="font-weight-light small-text mb-0"> In '+getDiffBetweenMinutes(appDate, new Date())+' min</p>';

	  } 
	  var text = '<a class="nav-link count-indicator" id="notificationDropdown" href="#" data-toggle="dropdown" aria-expanded="false">'+
          '<i class="mdi mdi-bell-outline"></i>'+
          notifHtml+
        '<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="notificationDropdown">'+
          '<a class="dropdown-item py-3 border-bottom" href="/home">'+
            '<p class="mb-0 font-weight-medium float-left">'+notifMessage+'</p>'+
            '<span class="badge badge-pill badge-primary float-right">View all</span></a>'+
          '<a class="dropdown-item preview-item py-3" title="Visit" href="'+notifUrl+'">'+
            '<div class="preview-thumbnail">'+
              	'<i class="fa fa-stethoscope text-primary"></i>'+
            '</div>'+
            '<div class="preview-item-content">'+
            notifPreview+
            '</div></a></div>';
            
      var nothingText = '<a class="nav-link count-indicator" id="notificationDropdown" href="#" data-toggle="dropdown" aria-expanded="false">'+
      '<i class="mdi mdi-bell-outline"></i></a>'+
      '<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="notificationDropdown">'+
      '<a class="dropdown-item py-3 border-bottom">'+
      '<p class="mb-0 font-weight-medium float-left" style="white-space: pre-wrap; min-width: 100px;">'+notifMessage+' </p></a></div>';
	
      if(hasNewNotification){
	      playSound("/assets/sound/tik-tok-ringtone");
    	  $("#notificationDropdown").html(text);
      }else{
    	  $("#notificationDropdown").html(nothingText);
      }
  }
  function refreshNotifications(accountId, startDate, callback){
		$.post("/api/notifications/nextAppointments", {"accountId" : accountId, "startDate" : startDate}, callback);
  }
  </script>
</nav>