<div class="card" th:fragment="edit">
  <div class="card-body">
    <h4 class="card-title">[[#{EditPersonnel}]]<u>[[*{account.username}]]</u></h4>
    <hr/>
      <input type="hidden" th:field="*{id}">
      <input type="hidden" name="action" th:value="${T(com.visionous.dms.configuration.helpers.Actions).EDIT}">
      <div class="form-group">
        <label for="type">[[#{PersonnelType}]]</label>
        <select class="form-control form-control-lg " th:field="*{type}">
        	<option value="DENTIST">[[#{Dentist}]]</option>
        	<option value="DENTISTASSOCIATE">[[#{DentistAssociate}]]</option>
        </select>
      </div>
      
  </div>
</div>