<!DOCTYPE html>
<html lang="en">
  <div th:replace="demo_1/partials/_header :: header">
  </div>
  
<body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
          <div class="row w-100">
            <div class="col-lg-3 mx-auto ">
              <div class="auto-form-wrapper mb-1" style="border-top-left-radius: 14.5px;border-top-right-radius: 14.5px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
              	<div class="alert alert-danger" th:if="${errorUsernamePassword}" role="alert">
					[[${errorUsernamePassword}]]
				</div>
                <form th:action="@{/login}" method="POST">
                  <div class="form-group">
                    <div class="input-group">
                      <input type="text" class="form-control form-control-round bg-light" name="username" th:placeholder="#{EmailOrPhoneNr}">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <input type="password" class="form-control form-control-round bg-light" name="password" th:placeholder="#{Password}">
                    </div>
                  </div>
                  <div class="form-group d-flex justify-content-between">
                    <div class="form-check form-check-flat mt-0">
                       <label class="form-check-label">
                       <input type="checkbox" class="form-check-input" name="remember-me"> Keep me signed in </label>
                         
                    </div>
                    <a href="/reset" class="text-small forgot-password text-black">[[#{action.forgotPassword}]]</a>
                  </div>
                  <div class="form-group" >
                    <input type='submit' name='submit' class="btn btn-primary btn-block btn-lg" th:value="#{Login}"/>
                  </div>
                </form>
                <div class="text-block text-center my-3">
                    <hr/>
                    <a href="/register" class="btn btn-success btn-lg">[[#{Register}]]</a>
                </div>
              </div>
            <div th:replace="demo_1/partials/_compact_footer :: footer" >
			</div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../../assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../../assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="../../../assets/js/shared/off-canvas.js"></script>
    <script src="../../../assets/js/shared/misc.js"></script>
    <!-- endinject -->
  </body>
</html>