<!DOCTYPE html>
<html lang="en">
  <div th:replace="demo_1/partials/_header :: header">
  </div>
  
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
          <div class="row w-100">
            <div class="col-lg-3 mx-auto">
              <div class="auto-form-wrapper mb-1" style="border-top-left-radius: 14.5px;border-top-right-radius: 14.5px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
                <form th:action="@{/register}" th:object="${iaoAccount}" method="POST">
           		<input type="hidden" name="action" th:value="${T(com.visionous.dms.configuration.helpers.Actions).CREATE}">
                
                <div class="row bg-outline-primary" >
			
					<div class="col-md-6">
					  <div class="form-group ml-0 mr-auto mb-2">
	                    <div class="input-group">
	                      <input type="text" class="form-control form-control-round bg-light" th:classappend=" ${#fields.hasErrors('name')} ? 'is-invalid' : ''" th:field="*{name}" th:placeholder="#{Name}">
		        		  <div class='invalid-tooltip' th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
	                    </div>
	                  </div>
					</div>
					<div class="col-md-6">
					  <div class="form-group ml-auto mr-0 mb-2">
	                    <div class="input-group">
	                      <input type="text" class="form-control form-control-round bg-light" th:classappend="${#fields.hasErrors('surname')} ? 'is-invalid' : ''" th:field="*{surname}" th:placeholder="#{Surname}">
		        		  <div class='invalid-tooltip' th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
	                    </div>
	                  </div>
					</div>
				</div>
                <div class="row bg-outline-primary" >
                <div class="col-md-12">
                  <div class="form-group mx-0 my-2">
                    <div class="input-group">
                      <input type="text" class="form-control form-control-round bg-light" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''" th:field="*{email}" th:placeholder="#{Email}">
		        	  <div class='invalid-tooltip' th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    </div>
                  </div>
                </div>
                </div>
                <div class="row bg-outline-primary" >
                <div class="col-md-12">
                  <div class="form-group mx-0 my-2">
                    <div class="input-group">
                      <input type="password" class="form-control form-control-round bg-light" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''" th:field="*{password}" th:placeholder="#{NewPassword}">
		        	  <div class='invalid-tooltip' th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    </div>
                  </div>
                </div>
                </div>
                
                
                <div class="row bg-outline-primary" >
                	<div class="col-md-12">
                		<small> [[#{Birthday}]] </small>
                	</div>
                	<div class="col-md-4">
                	<div class="form-group m-0">
			                <select aria-label="Day" name="birthday_day" id="day" title="day" class="form-control form-control-lg bg-light">
			                	
			                </select>
					</div>
					</div>
					<div class="col-md-4">
                	<div class="form-group m-0">
							<select aria-label="Month" name="birthday_month" id="month" title="Month" class="form-control form-control-lg bg-light">
			                	<option value="1">Jan</option>
			                	<option value="2" selected="1">Feb</option>
			                	<option value="3">Mar</option>
			                	<option value="4">Apr</option>
			                	<option value="5">May</option>
			                	<option value="6">Jun</option>
			                	<option value="7">Jul</option>
			                	<option value="8">Aug</option>
			                	<option value="9">Sep</option>
			                	<option value="10">Oct</option>
			                	<option value="11">Nov</option>
			                	<option value="12">Dec</option>
			                </select>
			        </div>
					</div>
					<div class="col-md-4">
						<div class="form-group m-0">
			                <select aria-label="Year" name="birthday_year" id="year" title="Year" class="form-control form-control-lg bg-light">
			                </select>
   		        		    <p class="alert alert-danger" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></p>
						</div>
					</div>
					<input type="hidden" th:field="*{birthday}" />
					
				</div>                
                
                <div class=" form-group row bg-outline-primary mb-0" >
                	<div class="col-md-12">
                		<small> [[#{Gender}]] </small>
                	</div>
                	<div class="col-md-5 ml-auto mr-1 mt-1 mb-4" style="border: 1px solid #dfe0e1;border-radius: 7px;">
			        	<div class="form-radio form-radio-flat mx-1 my-2">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input" th:field="*{gender}" value="male" > [[#{Male}]] <i class="input-helper"></i></label>
                        </div>
					</div>
					<div class="col-md-5 mr-auto ml-1 mt-1 mb-4" style="border: 1px solid #dfe0e1;border-radius: 7px;">
						<div class="form-radio form-radio-flat mx-1 my-2">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input" th:field="*{gender}" value="female"> [[#{Female}]] <i class="input-helper"></i></label>
                                <p class="alert alert-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></p>
                        </div>
					</div>
				</div>    
                
                  <div class="form-group d-flex justify-content-center my-2">
                  <div class="custom-control custom-checkbox">
                       <input type="checkbox" class="custom-control-input" th:field="*{terms}"> 
                       <label class="custom-control-label pt-1" for="terms1">
                       [[#{alert.ConsentTo}]] <a href="#" target="_blank" >[[#{TermsAndConditions}]]</a></label>
                       <p class="alert alert-danger" th:if="${#fields.hasErrors('terms')}" th:errors="*{terms}"></p>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary submit-btn btn-block">[[#{Register}]]</button>
                  </div>
                  <hr/>
                  <div class="text-block text-center my-3">
                    <span class="text-small font-weight-semibold">[[#{HaveAccount}]]</span>
                    <a href="/login" class="text-black text-small">[[#{Login}]]</a>
                  </div>
                </form>
              </div>
              <script th:inline="javascript">
				/*<![CDATA[*/ 
	              	var alertValidName = /*[[#{alert.invalidName}]]*/'';
	              	var alertValidSurname = /*[[#{alert.invalidSurname}]]*/'';
	              	var alertValidEmail = /*[[#{alert.invalidEmail}]]*/'';
	              	var alertValidGender = /*[[#{alert.selectGender}]]*/'';
	              	var alertBirthday =/*[[#{alert.selectBirthday}]]*/'';
	              	var alertValidPassword = /*[[#{alert.invalidPassword}]]*/'';
	              	var alertValidPhoneNumber = /*[[#{alert.invalidPhoneNr}]]*/'';
			   	/*]]>*/
			  </script>
              <script>
              	$(document).ready(function(){              		
              		generateDays();
              		generateYears();
              		
              	});
              	
              	function generateDays(){
              		for(var cnt=1; cnt<32; cnt++){
              			$("#day").html($("#day").html() + "<option value='"+cnt+"'>" + cnt + "</option>");	
              		}
              	}
              	
              	function generateYears(){
              		for(var cnt=0; cnt<96; cnt++){
              			var currentYear = new Date().getFullYear() - cnt;
              			$("#year").html($("#year").html() + "<option value='"+currentYear+"'>" + currentYear + "</option>");
              		}
              	}
              	
              	$("[name='name']").change(function(e){
              		validateName(e.target);
              	});
              	
              	$("[name='surname']").change(function(e){
              		validateSurname(e.target);
              	});
              	
              	$("[name='email']").change(function(e){
              		validateEmailOrPhone(e.target);
              	});
              	
              	$("[name='password']").change(function(e){
              		validatePassword(e.target);
              	});
              	
              	$("#year").change(function(e){
              		validateBirthday(e.target);
              	});
              	
              	$("[name = 'gender']").change(function(e){
              		validateGender();
              	});
              	
              	$("[name='terms']").change(function(e){
              		validateTerms(e.target);
              	});
              	
              	$("form").submit(function(event){
              		setBirthdayToField(event);
              		submitForm(event);
              	});
              	
              	function setBirthdayToField(e){
              		var day = $(e.currentTarget).find("#day").val();
              		var month = $(e.currentTarget).find("#month").val();
              		var year = $(e.currentTarget).find("#year").val();
              		var selectedDate = new Date(year, month-1, day);
              		console.log(day);
              		console.log(month);
              		console.log(year);
              		console.log(selectedDate.getDate());
              		
              		$(e.currentTarget).find("[name='birthday']").val(selectedDate.getDate()+"-"+(selectedDate.getMonth()+1)+"-"+selectedDate.getFullYear());
              	}
              	
              	function submitForm(e){
              		toggleLoadButton($(e.currentTarget).find("button"));
              		if(validateFields(e)){
	  					e.currentTarget.submit();
	  				}else{
	  					e.preventDefault();
	              		toggleLoadButton($(e.currentTarget).find("button"));
	  				}
              	}
              	
              	function toggleLoadButton(elem){
              		var iconEl$;

              		if($(elem).find("i").length){ 
              			iconEl$ = $(elem);
              		}else{
              			$(elem).append("<i class='fa fa-lg '> </i>");
              			iconEl$ = $(elem);
              		};

               	    $(iconEl$).find("i").toggleClass("fa-spin fa-spinner");
              		$(iconEl$).prop("disabled", (_, val) => !val);
              	}
              	
              	function validateFields(e){
              		if(validateName($(e.currentTarget).find("[name='name']")) &&
              				validateSurname($(e.currentTarget).find("[name='surname']")) &&
              				validateEmailOrPhone($(e.currentTarget).find("[name='email']")) &&
              				validatePassword($(e.currentTarget).find("[name='password']")) && 
              				validateBirthday($(e.currentTarget).find("#year")) &&
              				validateGender() &&
              				validateTerms($(e.currentTarget).find("[name='terms']"))){
              			return true;
              		}
              		return false;
              	}
              	
              	function validateName(element){
              		if(validText($(element).val()) && $(element).val().length > 3){
              			toggleValidInputFieldValidation(element);
              			return true;
              		}else{
              		 	toggleInValidInputFieldValidation(element, alertValidName);
              		 	return false;
              		}	
              	}
              	
              	function validateSurname(element){
              		if(validText($(element).val()) && $(element).val().length > 3){
              			toggleValidInputFieldValidation(element);
              			return true;
              		}else{
              		 	toggleInValidInputFieldValidation(element, alertValidSurname);   
              		 	return false;
              		}	
              	}
              	
              	function validateEmailOrPhone(element){
              		if(validEmail($(element).val()) || validPhone($(element).val())){
              			toggleValidInputFieldValidation(element);
              			return true;
              		}else{
            			toggleInValidInputFieldValidation(element, alertValidEmail);
            			return false;
              		}
              	}
              	
              	function validatePassword(element){
              		if(validPassword($(element).val())){
              			toggleValidInputFieldValidation(element);
              			return true;
              		}else{
            			toggleInValidInputFieldValidation(element, alertValidPassword);
            			return false;
              		}
              	}
              	
              	function validateBirthday(element){
              		var birthdayDate = parseBirthday(parseInt($("#day").val()), parseInt($("#month").val()), parseInt($("#year").val()));
              		if(validBirthday(birthdayDate)){
              			toggleValidInputFieldValidation(element);
              			return true;
              		}else{
            			toggleInValidInputFieldValidation(element, alertValidBirthday);
            			return false;
              		}
              	}
              	
              	function validateGender(){
              		var element = $("[name='gender']");

              		if($("[name='gender']").is(":checked")){
              			toggleValidInputFieldValidation(element);
              			return true;
              		}else{
            			toggleInValidInputFieldValidation(element, alertValidGender);	
            			return false;
              		}
              	}
              	
              	function validateTerms(element){
              		if($(element).is(":checked")){
              			toggleValidInputFieldValidation(element);
              			return true;
              		}else{
            			toggleInValidInputFieldValidation(element);
            			return false;
              		}
              	}
              	
              	function parseBirthday(day, month, year){
              		var date = new Date();
              		date = new Date(date).setDate(day);
              		date = new Date(date).setMonth(month);
              		date = new Date(date).setYear(year);
              		return date;
              	}
              	
              	function validEmail(val){
              		var pattern = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
              		return pattern.test(val);
              	}
              	
              	function validPhone(val){
              		var pattern = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im;
              		return pattern.test(val);
              	}
              	
              	function validPassword(val){
              		var pattern = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
              		return pattern.test(val);
              	}
              	
              	function validBirthday(val){
              		if(getAge(val) > 13){
              			return true;
              		}
              		return false;
              	}
              	
              	function getAge(date) {
              	    var today = new Date();
              	    var birthDate = new Date(date);
              	    var age = today.getFullYear() - birthDate.getFullYear();
              	    var m = today.getMonth() - birthDate.getMonth();
              	    if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
              	        age--;
              	    }
              	    return age;
              	}
              	
              	function validText(text){
              		var pattern = /^[a-z]{3,}$/i;
              		return pattern.test(text);
              	}
              	
              	function toggleValidInputFieldValidation(el){
          			$(el).removeClass("is-invalid");
          			$(el).addClass("is-valid");
          			$(el).parent().find(".invalid-tooltip").remove();
              	}
              	
              	function toggleInValidInputFieldValidation(el,errorMsg){
          			$(el).removeClass("is-valid");
          			$(el).addClass("is-invalid");
          			if(errorMsg != null || errorMsg != undefined){
          				$(el).parent().append(invalidDiv(errorMsg));	
          			}
              	}
              	
              	function invalidDiv(errorMsg){
              		return "<div class='invalid-tooltip'>"+errorMsg+"</div>";
              	}
              </script>
			<div th:replace="demo_1/partials/_compact_footer :: footer" >
			</div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../../assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../../assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="../../../assets/js/shared/off-canvas.js"></script>
    <script src="../../../assets/js/shared/misc.js"></script>
    <!-- endinject -->
  </body>
</html>