<div class="card" th:fragment="delete">
  <div class="card-body">
    <input type="hidden" name="action" th:value="${T(com.visionous.dms.configuration.helpers.Actions).DELETE}">

    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{registerdate}" >
    
    <h4 class="card-title">[[#{DeleteCustomerWithName}]] <u th:text="*{account.username}"> ?</u></h4>
    <p>[[#{alert.aboutToDelete}]] <u th:text="*{account.username}"></u> 
    [[#{action.changesCannotBeUndone}]]
  </div>
</div>