<div class="card" th:fragment="view">
  <div class="card-body">
      <div class="form-group" >      
       <div class="d-flex flex-column flex-lg-row">
    	  <h4 class="card-title">[[#{AllDentalRecordsForPatient}]] <u>[[${currentCustomer.account.name}]]</u></h4>
	   </div>
        <hr />
        <div class="row" th:if="*{records == null}">
        	<div class="col-md-12 grid-margin"  >
        		<div class="d-flex flex-row align-items-center">
                  <i class="mdi mdi-alert icon-lg text-danger"></i>
                  <p class="mb-0 ml-1"> <h4 class="text text-danger">[[#{action.noDentalRecordFor}]] [[${currentCustomer.account.name}]]</h4></p>
                </div>
        	</div>
        	<div class="col-md-12 grid-margin">
        		<a th:href="'/customer/'+${currentCustomer.id}+'/questionnaire/create'"  class="btn btn-primary btn-sm">[[#{action.newVisit}]]</a>
        	</div>
        </div>
        <div class="row" th:if="*{records != null}">
        	<div class="col-md-12 grid-margin">
        		<a th:href="'/customer/__${currentCustomer.id}__/history/'+*{id}+'/record/create'"  class="btn btn-primary btn-sm">[[#{action.newVisit}]]</a>
        	</div>
        	<div class="col-md-12 grid-margin tbl-overflow">
        		<table id="historyRecords" class="table table-hover" >
					<thead>
						<tr style="background:#ebf3ff">
							<th>[[#{ServiceDate}]]</th>
							<th>[[#{PatientName}]]</th>
							<th>[[#{DentistName}]]</th>
							<th>[[#{TreatedTooth}]]</th>
							<th>[[#{ServiceType}]]</th>
							<th>[[#{ServiceDetail}]]</th>
							<th >[[#{Total}]]<i class="mdi mdi-information-outline fa-sm" data-toggle="tooltip" th:title="#{LastReceiptTotal}"></i></th>
							<th >[[#{Status}]]<i class="mdi mdi-information-outline fa-sm" data-toggle="tooltip" th:title="#{LastReceiptPaymentStatus}"></i></th>
							<th>[[#{Comment}]]</th>
						</tr>
					</thead>
					<tbody>
						<tr class="px-2" th:each="record: *{records}" 
						th:with="visitedTeethTxt = ${#strings.listJoin(record.visitedTeeth.![name],' , ')}"
						th:onclick="'window.location=\'/customer/'+*{customer.id}+'/history/'+*{id}+'/record/'+${record.id}+'\''">
							<td  th:text="${#temporals.format(record.servicedate, 'dd-MM-YYYY HH:mm')}"></td>
							<td th:text="${record.history.customer.account.name} + ' ' + ${record.history.customer.account.surname}"></td>
							<td th:text="${record.personnel.account.name} + ' ' + ${record.personnel.account.surname}"></td>
							<td th:text="${#strings.abbreviate(visitedTeethTxt,19)}"  data-toggle="tooltip" data-html="true" th:title="${visitedTeethTxt}"></td>
							<td th:text="${record.serviceType.name}"></td>
							<td th:text="${record.servicedetail}"></td>
							<td th:text="${record.receipt != null ? '__#{currency.ALL}__ '+#numbers.formatDecimal(record.receipt.total,0,'COMMA',0,'POINT') : '__#{NoReceipt}__'}"></td>
							<td th:with="textclass = ${record.receipt != null && record.receipt.payed ? 'badge badge-outline-success':'badge badge-outline-danger'}">
								<span th:class="${textclass}" th:text="${record.receipt != null && record.receipt.payed ? '__#{Payed}__' : '__#{NotPayed}__'}"></span></small>
							</td>
							<td th:text="${record.servicecomment}" style="white-space: break-spaces;"></td>
						</tr>
					</tbody>
				</table>
				
        	</div>
        </div>
        

		
      </div>
  </div>
</div>
