<div class="card" th:fragment="view">
  <div class="card-body">
      <div class="form-group" >      
       <div class="d-flex flex-column flex-lg-row">
    	  <h4 class="card-title">[[#{AllDentalRecordsForPatient}]] <u>[[${currentCustomer.account.name}]]</u></h4>
	   </div>
        <hr />
        <div class="row" th:if="*{records == null}">
        	<div class="col-md-12 grid-margin"  >
        		<div class="d-flex flex-row align-items-center">
                  <i class="mdi mdi-alert icon-lg text-danger"></i>
                  <p class="mb-0 ml-1"> <h4 class="text text-danger">[[#{action.noDentalRecordFor}]] [[${currentCustomer.account.name}]]</h4></p>
                </div>
        	</div>
        	<div class="col-md-12 grid-margin">
        		<a th:href="'/customer/'+${currentCustomer.id}+'/questionnaire/create'" class="btn btn-primary btn-sm">[[#{action.newVisit}]]</a>
        	</div>
        </div>
        <div class="row" th:if="*{records != null}">
        	<div class="col-md-12 grid-margin">
        		<a th:href="'/customer/__${currentCustomer.id}__/history/'+*{id}+'/record/create'" class="btn btn-primary btn-sm">[[#{action.newVisit}]]</a>
        	</div>
        	<div class="col-md-12 grid-margin">
        		<table id="historyRecords" class="table table-hover" >
					<thead>
						<tr style="background:#ebf3ff">
							<th>[[#{ServiceDate}]]</th>
							<th>[[#{PatientName}]]</th>
							<th>[[#{DentistName}]]</th>
							<th>[[#{TreatedTooth}]]</th>
							<th>[[#{ServiceType}]]</th>
							<th>[[#{ServiceDetail}]]</th>
							<th>[[#{Comment}]]</th>
						</tr>
					</thead>
					<tbody>
						<tr class="px-2" th:each="record: *{records}" th:onclick="'window.location=\'/customer/'+*{customer.id}+'/history/'+*{id}+'/record/'+${record.id}+'\''">
							<td th:text="${#dates.format(record.servicedate, 'dd/MM/yyyy')}"></td>
							<td th:text="*{customer.account.username}"></td>
							<td th:text="${record.personnel.account.name}"></td>
							<td th:text="${record.tooth.name}"></td>
							<td th:text="${record.serviceType.name}"></td>
							<td th:text="${record.servicedetail}"></td>
							<td th:text="${record.servicecomment}"></td>
						</tr>
					</tbody>
				</table>
        	</div>
        </div>
        

		
      </div>
  </div>
</div>
