<div class="" th:fragment="view">
  <div class="">
      <div class="form-group" >      
       <div class="d-flex flex-column flex-lg-row">
       	  <div class="data-wrapper d-flex mt-2 mt-lg-0">
    	  	<h4 class="card-title">[[#{DentalHistory}]]</h4>
    	  </div>
    	  <div class="ml-lg-auto" >
    	  	<div class="dropdown">
               <button class="btn btn-primary icon-button dropdown-toggle" type="button" id="dropdownMenuOutlineButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
               	<i class="mdi mdi-circle-edit-outline"></i>
               </button>
               <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton1" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
                 <a  th:if="*{customerHistory != null && customerHistory.records != null}" th:data-subscription="${subscription.id == null ? 'expired' : 'active'}"   th:href="'/customer/'+*{id}+'/history/'+*{customerHistory.id}+'/record/create'" class="dropdown-item" > <i class="mdi mdi-stethoscope fa-lg"></i>  [[' '+#{action.visit}]]</a>
                 <a  th:if="*{customerHistory == null || customerHistory.records == null}" th:data-subscription="${subscription.id == null ? 'expired' : 'active'}"   th:href="'/customer/'+*{id}+'/questionnaire/create'" class="dropdown-item" ><i class="mdi mdi-stethoscope fa-lg"></i>  [[' '+#{action.visit}]]</a>
                 <a href="#appointmentModal" class="dropdown-item"  data-toggle="modal" data-target="#appointmentModal"> <i class="mdi mdi-calendar-clock fa-lg"></i>  [[' '+#{action.book}]]</a>
               </div>
             </div>
		  </div>
	    </div>
        <hr />
        
        <div class="row" th:if="*{customerHistory == null || customerHistory.records == null}">
        	<div class="col-md-12 grid-margin">
	           	<div class="alert show" role="alert" id="alert" style="display:none">
				    Alert warning
				</div>
        	</div>

        	<div class="col-md-12 grid-margin"  >
        		<div class="d-flex flex-row align-items-center">
                  <i class="mdi mdi-alert icon-lg text-danger"></i>
                  <p class="mb-0 ml-1"> <h4 class="text text-danger">[[#{alert.noDentalRecords}]] [[*{account.name}]]</h4></p>
                </div>
        	</div>
        </div>
        
        <div class="row" th:if="*{customerHistory != null && customerHistory.records != null}">
        	<div class="col-md-12 grid-margin">
    	  		<h4 class="card-title">[[#{Top5}]]</h4>
	           	<div class="alert show" role="alert" id="alert" style="display:none">
				    Alert warning
				</div>
        	</div>
        	
        	<div class="col-md-4 grid-margin"> 
        		<section th:replace="demo_1/partials/_mouth :: mouth">
        		
        		</section>
        		<script>
				function hoverTooth(elem){
				    $(elem).tooltip('show');
				}
				</script>
        	</div>
        	
        	<div class="col-md-8 grid-margin">
        		<div class="row">
        			<div class="col-md-12 grid-margin ">
        				<div class="col tbl-overflow">
		        		<table  id="allRecords" class="table table-hover">
							<thead>
								<tr style="background:#ebf3ff">
									<th>[[#{ServiceDate}]]</th>
									<th>[[#{ServiceType}]]</th>
									<th>[[#{Tooth}]]</th>
									<th>[[#{Comment}]]</th>
								</tr>
							</thead>
							<tbody >
								<tr class="clickable-tr px-2"  th:each="record, iter: ${customerRecords}" onmouseout="clearRecordSelection()" 
									th:with="var = ${#strings.listJoin(record.visitedTeeth.![name],', ')}"
									th:onmouseover="'hoverRecord(\'__${var}__\')'"
									th:onclick="'window.location=\'/customer/'+*{id}+'/history/'+*{customerHistory.id}+'/record/'+${record.id}+'\''">
									
									<td th:text="${#temporals.format(record.servicedate, 'dd-MM-YYYY HH:mm')}"></td>
									<td th:text="${record.serviceType.name}"></td>
									<td id="tooth" th:text="${#strings.abbreviate(var,19)}" data-toggle="tooltip" data-html="true" th:title="${var}"></td>
									<td style="white-space:break-spaces;" th:text="${record.servicecomment}" data-toggle="tooltip" data-html="true" th:title="${record.servicecomment}">
									</td>
								</tr>
							</tbody>
						</table>
						</div>
					</div>
        		</div>
				<div class="row">
        			<div class="col-md-12 grid-margin">
        				<div class="data-wrapper d-flex mt-2 mt-lg-0">
				    	  	
			    	  	</div>
			    	  	<div class="ml-lg-auto" >
				    	  	<div class="dropdown">
				               <h4 class="card-title"></h4>
				               <a th:href="'/customer/' + *{id} + '/history/' + *{customerHistory.id}+ '/record'"><button type="button" class="btn btn-primary icon-button btn-sm"> <i class="mdi mdi-history"></i>[[#{action.allHistory}]]</button></a>
				            </div>
					  	</div>
        			</div>
        		</div>
        	</div>
        </div>
        <script th:inline="javascript">
		/*<![CDATA[*/
			var alertSuccess = ""+ /*[[#{table.lengthMenu}]]*/ '';
			var tableZeroRecord = ""+ /*[[#{table.zeroRecord}]]*/ '';
			var tableInfo = ""+ /*[[#{table.info}]]*/ '';
			var tableInfoEmpty = ""+ /*[[#{table.infoEmpty}]]*/ '';
			var tableInfoFiltered = ""+ /*[[#{table.infoFiltered}]]*/ '';
			var tableSearch = ""+ /*[[#{table.search}]]*/ '';
		/*]]>*/
		</script>
		<script>
		
        $(document).ready(function() {
        	if($('#allRecords').html() != undefined){
	            var table = $('#allRecords').DataTable({
	            	"bPaginate": false,
	                "bLengthChange": false,
	                "bFilter": false,
	                "bInfo": false,
	                "columnDefs": [
                        {
                            "targets": [0],
                            "render": $.fn.dataTable.moment('DD-MM-YYYY HH:mm')
                        }
                    ],
	                order: [0,"desc"]
	            });
        	}
        });
        
        </script>
      </div>
    </div>

  </div>
</div>