<!DOCTYPE html>
<html lang="en">
  <div th:replace="demo_1/partials/_header :: header">
  </div>
  <body>
    <div class="container-scroller">
      <section th:replace="demo_1/partials/_navbar :: navbar">
  	  </section>
      <!-- partial:partials/_navbar.html -->
      
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        
        <section th:replace="demo_1/partials/_sidebar :: sidebar">
        <!-- partial:partials/_sidebar.html -->
        </section>
        
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <!-- Page Title Header Starts-->
            <section th:replace="demo_1/partials/_breadcrumb :: breadcrumb">
			  	<!-- partial:partials/_breadcrumb.html -->
  			</section>
            <!-- Page Title Header Ends-->
            <div class="row">
              <div class="col-md-8 grid-margin stretch-card"  th:with="createAccountView = 'demo_1/partials/account/modals/_'+${viewType}+' :: '+ ${viewType},
              														createPersonnelView = 'demo_1/partials/personnel/modals/_'+${viewType}+' :: '+ ${viewType},
              														obj = ${selected}" >
              	<div class="card"> 
              		<div class="card-body">
              	<form th:action="@{/admin/personnel}" th:object="${personnel}" method="post"  enctype="multipart/form-data">
              	
              		<input type="hidden" name="action" th:value="${T(com.visionous.dms.configuration.helpers.Actions).CREATE}">
              		
          			<section th:replace="__${createAccountView}__">
					  	<!-- partial:partials/_footer.html -->
		  			</section>
		  			<section th:replace="__${createPersonnelView}__">
					  	<!-- partial:partials/_footer.html -->
		  			</section>
			      <div >
			    	<a type="button" class="btn btn-secondary"  data-dismiss="modal" th:href="'/admin'+${currentPage} + '/'">[[#{action.close}]]</a>
			        <button type="submit" class="btn btn-primary">[[#{__${#strings.capitalize(viewType)}__}]]</button>
			      </div>
		  			
		  		</form>
		  			</div>
		  		</div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
		  
		  <section th:replace="demo_1/partials/_footer :: footer">
		  	<!-- partial:partials/_footer.html -->
		  </section>
          <!-- partial -->
          
        </div>
        <!-- main-panel ends -->
        
      </div>
      
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="/assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="/assets/js/shared/off-canvas.js"></script>
    <script src="/assets/js/shared/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="/assets/js/demo_1/personnel.js"></script>
    <!-- End custom js for this page-->
  </body>
</html>