<!DOCTYPE html>
<html lang="en">
  <div th:replace="demo_1/partials/_header :: header">
  </div>
  
<body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
          <div class="row w-100">
            <div class="col-lg-4 mx-auto">
              <div class="auto-form-wrapper mb-1" th:if="${account == null}" style=" border-top-left-radius: 14.5px;border-top-right-radius: 14.5px;
              											border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;">
              
                <div class="row">
                  <div class="col-12">
                    <h2>Create bussiness</h2>
                    <p class="muted mb-4">Please input your bussiness information:</p>
                  </div>
                </div>
                
              	<form th:action="@{__${currentPage}__/create}" th:object="${business}" class="mb-3" method="post" th:if="${account == null}">
              		<input type="hidden" name="action" th:value="${T(com.visionous.dms.configuration.helpers.Actions).CREATE}">

	                <div class="form-group mb-3">
	                  <div class="input-group">
	                    <input 
	                      type="text"
	                      th:field="*{name}"
	                      class="form-control form-control-round bg-light" 
	                      th:classappend=" ${#fields.hasErrors('name')} ? 'is-invalid' : ''"
	                      placeholder="Bussines name*" required>
	                      
	                    <div class='invalid-tooltip' th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
	                    
	                  </div>
	                </div>
	                <div class="form-group mb-0">
	                  <div class="input-group">
	                    <div class="input-group-prepend">
	                      <span class="input-group-text text-primary h6">https://</span>
	                    </div>
	                    <input 
	                      type="text" 
	                      class="form-control bg-light border-left-0 border-right-0"
	                      th:classappend=" ${#fields.hasErrors('subdomainUri')} ? 'is-invalid' : ''"
	                      th:field="*{subdomainUri}"
	                      title="Bussines name should only contain lowercase letters. e.g. google"
	                      style="border-radius: 0px;"
	                      placeholder="Subdomain*" required>
	                      
  	                    <div class='invalid-tooltip' th:if="${#fields.hasErrors('subdomainUri')}" th:errors="*{subdomainUri}"></div>
	                    <div class="input-group-append">
	                      <span class="input-group-text text-primary h6" id="basic-addon2">.o2dent.com</span>
	                    </div>
	                  </div>
	                </div>
	                <div class="form-group m-0 p-0">
                      	<p class="text-small text-muted">Business management url
                      	<span>
	                      	<a href="#"
	                      	data-container="body" 
	                    	data-toggle="popover"
	                    	data-content="Business Url">
		                    	<i class="fa fa-icon fa-question-circle"></i>
		                    </a>
                      	</span>: 
                      	<a href="#"
                      	data-container="body" 
                    	data-toggle="popover"
                    	data-content="Business Url">
                      		<span id="fullManagementUrl">
                      		</span>
                      	</a>
                      	</p>
	                </div>
	                <div class="form-group">
	                  <div class="input-group">
	                    <input 
	                    type="text"
	                    th:field="*{businessUrl}"
	                    class="form-control form-control-round bg-light"
                    	th:classappend=" ${#fields.hasErrors('businessUrl')} ? 'is-invalid' : ''"
                    	placeholder="Bussines url">
  	                    <div class='invalid-tooltip' th:if="${#fields.hasErrors('businessUrl')}" th:errors="*{businessUrl}"></div>
  	                    
	                  </div>
	                </div>
	                <div style="display: flex; align-items: center;">
	                  <button type="submit" class="btn btn-primary btn-block btn-lg" >Create</button>
	                </div>
	                
	              </form>
              </div>
              <div th:if="${account != null && createdBusiness != null}" class="auto-form-wrapper mb-1" style=" border-top-left-radius: 14.5px;border-top-right-radius: 14.5px;
              											border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;">
	              	<div class="row">
	                  <div class="col-12">
	                    <h2>Your dental practice "[[${createdBusiness.name}]]" created successfully!</h2>
	                    <p class="muted mb-4">Please check your inbox for confirmation email containing all your business details, 
	                    as well as the subscription confirmation.</p>
	                    <p class="muted mb-4">Please wait while we set up your clinic's environment. You will be redirected shortly...</p>
	                    <i class="fa fa-load"></i>
	                  </div>
	                </div>
	                <script>
	                	setTimeout(function() { 
	                		location.href = '/admin/global'; 
	                	}, 10000);
	                </script>
              </div>
              <div th:replace="demo_1/partials/_compact_footer :: footer">
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <script>
	
    $(function () {
   	  $('[data-toggle="popover"]').popover();
   	});
    
    $(document).ready(function(){
    	$("#subdomainUri").keyup(function(e){
    		$("#fullManagementUrl").text("https://"+ $(this).val() + ".o2dent.com");
    	});
    });
    
    </script>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../../assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../../assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="../../../assets/js/shared/off-canvas.js"></script>
    <script src="../../../assets/js/shared/misc.js"></script>
    <!-- endinject -->
  </body>
</html>