<!DOCTYPE html>
<html lang="en">
  <div th:replace="demo_1/partials/_header :: header">
  </div>
  
<body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
          <div class="row w-100">
            <div class="col-lg-4 mx-auto">
              <div class="auto-form-wrapper mb-1" style=" border-top-left-radius: 14.5px;border-top-right-radius: 14.5px;
              											border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;">
              
                <div class="row">
                  <div class="col-12">
                    <h2>Create bussiness</h2>
                    <p class="muted mb-4">Please input your bussiness information:</p>
                  </div>
                </div>
                
              	<form th:action="@{__${currentPage}__/create}" th:object="${business}" class="mb-3" method="post" >
              		<input type="hidden" name="action" th:value="${T(com.visionous.dms.configuration.helpers.Actions).CREATE}">

	                <div class="form-group mb-3">
	                  <label for="bussinesName">Bussines name*</label>
	                  <div class="input-group">
	                    <input 
	                      type="text"
	                      th:field="*{name}"
	                      class="form-control form-control-round bg-light" 
	                      placeholder="Bussines name" required>
	                  </div>
	                </div>
	                <div class="form-group">
	                  <label for="subdomain">Subdomain*</label>
	                  <div class="input-group mb-3">
	                    <div class="input-group-prepend">
	                      <span class="input-group-text text-primary h6">https://</span>
	                    </div>
	                    <input 
	                      type="text" 
	                      class="form-control form-control-round bg-light" 
	                      th:field="*{subdomainUri}"
	                      pattern="[a-z]{1,15}"
	                      style="border-top-right-radius: 0; border-bottom-right-radius: 0;border-top-left-radius: 0; border-bottom-left-radius: 0;"
	                      title="Bussines name should only contain lowercase letters. e.g. google"  
	                      placeholder="Subdomain" required>
	                    <div class="input-group-append">
	                      <span class="input-group-text text-primary h6" id="basic-addon2">.o2dent.com</span>
	                    </div>
	                  </div>
	                </div>
	                <div class="form-group">
	                  <label for="bussinesURL">Bussines URL</label>
	                  <div class="input-group">
	                    <input 
	                    type="text"
	                    th:field="*{businessUrl}"
	                    pattern="[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)"
	                    title="Please type you bussiness url without http or https"
	                    class="form-control form-control-round bg-light"
	                    placeholder="Bussines url">
	                  </div>
	                </div>
	                <p style="color: red;">Fields marked with `*` are Required</p>
	                <div style="display: flex; align-items: center;">
	                  <button type="submit" class="btn btn-primary btn-block btn-lg">Enter</a>
	                </div>
	                
	              </form>
              </div>
              
                  <div th:replace="demo_1/partials/_compact_footer :: footer">
                  </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../../assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../../assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="../../../assets/js/shared/off-canvas.js"></script>
    <script src="../../../assets/js/shared/misc.js"></script>
    <!-- endinject -->
  </body>
</html>