<!DOCTYPE html>
<html lang="en">
  <div th:replace="demo_1/partials/_header :: header">
  </div>
  <body>
    <div class="container-scroller">
      <section th:replace="demo_1/partials/_navbar :: navbar">
  	  </section>
      <!-- partial:partials/_navbar.html -->
      
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        
        <section th:replace="demo_1/partials/_sidebar :: sidebar">
        <!-- partial:partials/_sidebar.html -->
        </section>
        
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <!-- Page Title Header Starts-->
            <section th:replace="demo_1/partials/_breadcrumb :: breadcrumb">
			  	<!-- partial:partials/_breadcrumb.html -->
  			</section>
            <!-- Page Title Header Ends-->
            <div class="row">
              <div class="col grid-margin stretch-card">
                <div class="card">
                  <div class="card-body ">
                  
                    <a class="btn btn-primary" th:href="${currentPage}+'/create'"> [[#{action.add}]] [[#{Customer}]]</a>
                    <hr />
                    <div class="row">
                      <div class="col  tbl-overflow">
                        <table id="patientTable" class="table table-hover wrap">
	                      <thead>
	                        <tr>
	                          <th><!-- Selection column --></th>
	                          <th>[[#{Id}]]</th>
	                          <th>[[#{Username}]]</th>
	                          <th>[[#{Name}]], [[#{Surname}]]</th>
	                          <th>[[#{RegisterDate}]]</th>
	                          <th>[[#{LastVisit}]]</th>
	                          <th>[[#{TreatedTooth}]]</th>
	                          <th>[[#{ServiceType}]]</th>
	                          <th>[[#{ServiceDetail}]]</th>
	                          <th><!-- Actions column --></th>
	                        </tr>
	                      </thead>
	                      <tbody>
	                        <tr th:each="customer, stat: ${customerList}" 
	                        	th:onclick="'javascript:selectPersonnel('+${customer.id}+')'"
	                        	th:with="user = ${customer.account},
	                        		lastVisitRecord = ${lastCustomerRecord != null ? lastCustomerRecord[stat.index] : null},
	                        		enabledLabel = ${user.enabled} ? 'Enabled' : 'Disabled', 
	                        		enabledClass = ${user.enabled} ? badge-success : badge-danger,
	                        		activeLabel = ${user.active} ? 'Active' : 'Inactive', 
	                        		activeClass = ${user.active} ? badge-success : badge-danger,
	                        		visits = #{NoVisit}">
	                        		
	                          <td width="1%">
		                          <div class="form-radio">
	                              	<label class="form-check-label">
	                                	<input type="radio" class="form-check-input" name="accountRadio" th:id="'accountRadioCheck'+${user.id}" th:value="${user.id}" >
	                              	</label>
	                              </div>
		                      </td>
							  <td width="1%" th:text="${user.id}">id</td>
	                          <td ><a th:href="${currentPage}+'/dashboard/'+${user.id}" th:text="${user.username}">username</a></td>
	                          <td >
	                          	<a th:href="${currentPage}+'/dashboard/'+${user.id}" th:text="${user.name}+','+${user.surname}">name, surname</a>
	                          </td>
	                          
							  <td >
							  	<h5 th:text="${#dates.format(customer.registerdate, 'd-M-yyyy')}"></h5>
							  </td>
							  
	                          <td >
							  	<h5 th:text="${lastVisitRecord != null ? #dates.format(lastVisitRecord.servicedate, 'd-M-yyyy') : ''}"></h5>							  	
							  </td>

							  <td >
							  	<h5 th:with=" names = ${lastVisitRecord != null && #lists.size(lastVisitRecord.visitedTeeth) > 1 ? lastVisitRecord.visitedTeeth[0].name + ', ' + lastVisitRecord.visitedTeeth[1].name + '...' : lastVisitRecord.visitedTeeth[0].name}" 
							  		th:text="${names != null ? names : ''}"></h5>
							  </td>
							  <td >
							  	<h5 th:text="${lastVisitRecord != null ? lastVisitRecord.serviceType.name : ''}"></h5>
							  </td>
							  <td >
							  	<h5 th:text="${lastVisitRecord != null ? lastVisitRecord.servicedetail : ''}"></h5>
							  </td>
	                          <td width="2%">
	                          	
	                              <div class="btn-group" style="display:none;" name="actionButton" th:id="'actionButton' + ${user.id}">
									<a type="button"  class="btn btn-primary icon-btn" th:if="${customer.customerHistory}" th:href="'/customer/' + ${user.id} + '/history/' + ${user.id} + '/record'" ><i class="mdi mdi-history"></i> [[' '+#{DentalHistory}]]</a>
		                        	<button type="button" class="btn btn-primary icon-btn dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="mdi mdi-circle-edit-outline"></i>
			                        </button>
			                        <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
			                          <h6 class="dropdown-header">[[#{QuickActions}]]</h6>
			                          <a class="dropdown-item" th:href="${currentPage}+'/view/' + ${user.id} ">[[#{View}]]</a>
			                          <a class="dropdown-item" th:href="'/account' + '/edit/' + ${user.id}">[[#{Edit}]]</a>
			                          <a class="dropdown-item"  th:href="${currentPage}+'/' + ${user.id} + '/?modal=true&view=' + ${T(com.visionous.dms.configuration.helpers.Actions).DELETE} +'' ">[[#{Delete}]]</a>
			                        </div>
			                        
			                      </div>
	                          </td>
	                        </tr>
	                      </tbody>
	                    </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <script th:inline="javascript">
			 /*<![CDATA[*/
				var tableLengthMenu = ""+ /*[[#{table.lengthMenu}]]*/ '';
				var tableZeroRecord = ""+ /*[[#{table.zeroRecord}]]*/ '';
				var tableInfo = ""+ /*[[#{table.info}]]*/ '';
				var tableInfoEmpty = ""+ /*[[#{table.infoEmpty}]]*/ '';
				var tableInfoFiltered = ""+ /*[[#{table.infoFiltered}]]*/ '';
				var tableSearch = ""+ /*[[#{table.search}]]*/ '';
			 /*]]>*/
		    </script>
	        <script>
		        $(document).ready(function() {
	                $.fn.dataTable.moment( 'D-M-YYYY' );
		            var table = $('#patientTable').DataTable({
		            	"oLanguage": {
		            		  "sLengthMenu": tableLengthMenu,
		            		  "sZeroRecords": tableZeroRecord,
		            		  "sInfo": tableInfo,
		            		  "sInfoEmpty": tableInfoEmpty,
		            		  "sInfoFiltered": tableInfoFiltered,
		            		  "sSearch": tableSearch
		            		},
	            		order:[4, "desc"],

		            });
		            
		        });
	        </script>
          </div>
          <!-- content-wrapper ends -->

          <!-- partial -->
          
        </div>
        <!-- main-panel ends -->
        
      </div>
    
    <div th:if="${viewType != null and selected != null}" >
	    <section th:replace="demo_1/partials/_genericModals :: modals">
		 	<!-- Personnel Page Modals -->
		</section>
    </div>
		
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="/assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->    
    <script type="text/javascript" src="/assets/vendors/bootstrap-tagsinput-latest/src/bootstrap-tagsinput.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/bootstrap-tagsinput-latest/src/bootstrap-tagsinput.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="/assets/js/shared/off-canvas.js"></script>
    <script src="/assets/js/shared/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="/assets/js/demo_1/customer.js"></script>
    <!-- End custom js for this page-->
  </body>
</html>