<!DOCTYPE html>
<html lang="en">
  <section th:replace="demo_1/partials/_header :: header">
  </section>
  <body>
  
	<section th:replace="demo_1/partials/subscription/modals/_banner :: banner">
	</section>
  
    <div class="container-scroller">
      <section th:replace="demo_1/partials/_navbar :: navbar">
  	  </section>
      <!-- partial:partials/_navbar.html -->
      
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        
        <section th:replace="demo_1/partials/_sidebar :: sidebar">
        <!-- partial:partials/_sidebar.html -->
        </section>
        
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <!-- Page Title Header Starts-->
            <section th:replace="demo_1/partials/_breadcrumb :: breadcrumb">
			  	<!-- partial:partials/_breadcrumb.html -->
  			</section>
            <!-- Page Title Header Ends-->
            <div class="row">
                     
              <div class="col-md-8 ">
              	<div class="card"> 
              		<div class="card-body"  th:with="historyUrl = 'demo_1/partials/history/modals/_'+${viewType}+' :: '+ ${viewType}">
		              	<form th:action="@{/admin/history}" th:object="${selected}" method="post" >
		              	
		              		<section th:replace="__${historyUrl}__">
							  	<!-- partial:partials/_historyUrl.html -->
				  			</section>
						  									  			
						</form>
		  			</div>
		  		</div>
              </div>
			  <div class="col-md-4 ">
			  	<div class="row">
				  	<div class="col-md-12 grid-margin" >
						<div class="card"> 
	              			<div class="card-body" th:with="accountUrl = 'demo_1/partials/account/modals/_'+${viewType}+' :: '+ ${viewType}">
	              				<form th:action="@{/customer}" th:object="${selected}" method="post" >
		              	
				              		<section th:replace="__${accountUrl}__">
									  	<!-- partial:partials/_accountUrl.html -->
						  			</section>
						  									  			
						  		</form>
	              			</div>
	              		</div>
	              	</div>
	              	<div class="col-md-12 grid-margin" th:if="${anamezeAllergies != null}">
		              
						<section th:replace="demo_1/partials/widgets/customer/_alergies :: alergies">
							<!-- partial:partials/_accountUrl.html -->
						</section>
								
	              	</div>
	              	
			  	</div>             
              </div>
			</div>
          </div>
          <!-- content-wrapper ends -->
	  	<!-- Appointment Modal -->
		<div class="modal fade " id="appointmentModal" role="dialog"  aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title" >[[#{NewAppointment}]]</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
		      </div>
			      <div class="modal-body" th:with="modalBodyUrl = 'demo_1/partials/booking/modals/_book :: book'">
						<section  th:replace="__${modalBodyUrl}__">
						  	<!-- partial:partials/_edit.html partial:partials/_delete.html-->
						</section>
			      </div>
			      <div class="modal-footer" >
			    	<button type="button" class="btn btn-secondary" data-dismiss="modal">[[#{action.close}]]</button>
			        <button id="bookSubmit" type="submit" class="btn btn-primary" onclick="book()" disabled>[[#{action.book}]]</button>
			      </div>
		    </div>
		  </div>
		</div>
		  

          <!-- partial -->
          
        </div>
        <!-- main-panel ends -->
        
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="/assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    
    <script type="text/javascript" src="/assets/vendors/bootstrap-tagsinput-latest/src/bootstrap-tagsinput.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="/assets/js/shared/off-canvas.js"></script>
    <script src="/assets/js/shared/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    
    <script src="/assets/js/demo_1/booking.js"></script>
    <script src="/assets/js/demo_1/dashboard_selected_customer.js"></script>
    <!-- End custom js for this page-->
  
  </body>
</html>