<!DOCTYPE html>
<html lang="en">
  <div th:replace="demo_1/partials/_header :: header">
  </div>
  <body>
    <div class="container-scroller">
      <section th:replace="demo_1/partials/_navbar :: navbar">
  	  </section>
      <!-- partial:partials/_navbar.html -->
      
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        
        <section th:replace="demo_1/partials/_sidebar :: sidebar">
        <!-- partial:partials/_sidebar.html -->
        </section>
        
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <!-- Page Title Header Starts-->
            <section th:replace="demo_1/partials/_breadcrumb :: breadcrumb">
			  	<!-- partial:partials/_breadcrumb.html -->
  			</section>
            <!-- Page Title Header Ends-->
            <div class="row">
              <div class="col grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <a class="btn btn-primary" th:href="'/admin'+${currentPage}+'/create'"> [[#{action.add}]] [[#{Personnel}]]</a>
                    <hr/>
                    <div class="row">
                      <div class="col tbl-overflow">
                        <div class="col-md-12 grid-margin">
				           	<div class="alert show alert-danger" role="alert" id="error" style="display:none">
							    Alert warning
							</div>
							<div class="alert show alert-success" role="alert" id="success" style="display:none">
							    Success
							</div>
			        	</div>
                        <table class="table table-hover">
	                      <thead>
	                        <tr>
	                          <th><!-- Selection column --></th>
	                          <th>[[#{Id}]]</th>
	                          <th>[[#{Username}]]</th>
	                          <th>[[#{Name_Surname}]]</th>
	                          <th>[[#{Authorities}]]</th>
	                          <th>[[#{VisitTrend}]]<small>[[#{Last2Months}]]</small></th>
	                          <th>[[#{Status}]]</th>
	                          <th><!-- Actions column --></th>
	                        </tr>
	                      </thead>
	                      <tbody>
	                        <tr th:each="personnel, stat: ${personnelList}" 
	                        	th:onclick="'javascript:selectPersonnel('+${personnel.id}+')'"
	                        	th:with="
	                        		user = ${personnel.account},
	                        		monthlyGrowthObj = ${monthlyGrowth},
	                        		enabledLabel = ${user.enabled} ? 'Enabled' : 'Disabled', 
	                        		enabledClass = ${user.enabled} ? badge-success : badge-danger,
	                        		activeLabel = ${user.active} ? 'Active' : 'Inactive', 
	                        		activeClass = ${user.active} ? badge-success : badge-danger,
	                        		growth = ${monthlyGrowthObj != null ? monthlyGrowthObj[stat.index] : ''}">
	                          <td width="1%">
		                          <div class="form-radio">
	                              	<label class="form-check-label">
	                                	<input type="radio" class="form-check-input" name="accountRadio" th:id="'accountRadioCheck'+${user.id}" th:checked="${user.id} == ${selected?.id}" th:value="${user.id}" >
	                              	</label>
	                              </div>
		                      </td>
							  <td width="1%" th:text="${user.id}">id</td>
	                          <td ><a th:href="'/admin'+${currentPage}+'/dashboard/'+${user.id}" th:text="${user.username}">username</a></td>
	                          <td ><a th:href="'/admin'+${currentPage}+'/dashboard/'+${user.id}" th:text="${user.name}+', '+${user.surname}">name,Surname</a></td>
	                          <td >
							  	<h5 th:each="role: ${user.roles}">
							  		<span class="badge badge-info" th:text="${role.name}"></span>
							  	</h5>
							  </td>
	                          <td th:if="${growth < 0}" class="text-danger"> <b>[[${growth}]]% </b><i class="mdi mdi-arrow-down"></i></td>
	                          <td th:if="${growth == 0}" class="text-gray"> <b>[[${growth}]]% </b></td>
	                          <td th:if="${growth > 0}" class="text-success"> <b>[[${growth}]]%</b> <i class="mdi mdi-arrow-up"></i></td>
	                          <td>
	                          	<span  th:classappend="'badge ' + ${enabledClass}" style="color:white" th:text="#{__${enabledLabel}__}">Active</span>
	                          	
	                            <span  th:classappend="'badge ' + ${activeClass}" style="color:white" th:text="#{__${activeLabel}__}">Enabled</span>
	                          </td>
	                          <td width="2%">
	                          
	                              <div class="btn-group" style="display:none;" name="actionButton" th:id="'actionButton' + ${user.id}">
		                        	<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			                          	<span class="sr-only">Toggle Action</span>
			                          	<a class="btn btn-primary" th:href="'/admin/personnel/edit/' + ${user.id} " >[[#{Actions}]]</a>
			                        </button>
			                        <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">			                        
			                          <h6 class="dropdown-header">[[#{Actions}]]</h6>
			                          <a class="dropdown-item" th:href="'/admin'+${currentPage}+'/view/' + ${user.id} + '/' ">[[#{View}]]</a>
			                          <a class="dropdown-item" th:href="'/admin'+${currentPage}+'/'+ ${user.id} + '/?modal=true&view=' + ${T(com.visionous.dms.configuration.helpers.Actions).EDIT}  ">[[#{Edit}]]</a>
			                          <a class="dropdown-item"  th:href="'/admin'+${currentPage}+'/'+ ${user.id} + '/?modal=true&view=' + ${T(com.visionous.dms.configuration.helpers.Actions).DELETE} +'' ">[[#{Delete}]]</a>
			                          <div class="dropdown-divider"></div>
			                          <a class="dropdown-item" th:if="${!user.enabled && !user.active}" href="#" onclick="resendConfirmation();">[[#{ReConfirm}]]</a>                     
			                        </div>
			                      </div>
	                          </td>
	                        </tr>
	                      </tbody>
	                    </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <script>
            $(document).ready(function(){
	  	     	var token = $("meta[name='_csrf']").attr("content");
	  	     	var header = $("meta[name='_csrf_header']").attr("content");
	  	     	
	  		    $(document).ajaxSend(function(e, xhr, options) {
	  			    xhr.setRequestHeader(header, token);
	  			});
	  	 	});
            
			

            </script>
          </div>
          <!-- content-wrapper ends -->
		  
		  <section th:replace="demo_1/partials/_footer :: footer">
		  	<!-- partial:partials/_footer.html -->
		  </section>
          <!-- partial -->
          
        </div>
        <!-- main-panel ends -->
        
      </div>
    
    <div th:if="${viewType != null and selected != null}" >
	    <section th:replace="demo_1/partials/_genericModals :: modals">
		 	<!-- Personnel Page Modals -->
		</section>
    </div>
		
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="/assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
        <script type="text/javascript" src="/assets/vendors/bootstrap-tagsinput-latest/src/bootstrap-tagsinput.js"></script>    
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="/assets/js/shared/off-canvas.js"></script>
    <script src="/assets/js/shared/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="/assets/js/demo_1/personnel.js"></script>
    <!-- End custom js for this page-->
  </body>
</html>