<!DOCTYPE html>
<html lang="en">
  <div th:replace="demo_1/partials/_header :: header">
  </div>
  <body>
  
  
	<section th:replace="demo_1/partials/subscription/modals/_banner :: banner">
	</section>
	
    <div class="container-scroller">
      <section th:replace="demo_1/partials/_navbar :: navbar">
  	  </section>
      <!-- partial:partials/_navbar.html -->
      
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        
        <section th:replace="demo_1/partials/_sidebar :: sidebar">
        <!-- partial:partials/_sidebar.html -->
        </section>
        
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <!-- Page Title Header Starts-->
            <section th:replace="demo_1/partials/_breadcrumb :: breadcrumb">
			  	<!-- partial:partials/_breadcrumb.html -->
  			</section>
            <!-- Page Title Header Ends-->
            <form th:action="@{__${selectedReceipt.id}__/pay}" th:object="${selectedReceipt}" method="post">
            <div class="row">
             <div class="col-md-8 grid-margin stretch-card" id="receipt">
                <div class="card tbl-overflow">
					<div class="card-header p-4">
			             <div class="float-left" th:with="textclass = *{payed ? 'badge badge-outline-success':'badge badge-outline-danger'}">
			                 <h4 class="mb-0">[[#{Receipt}]] #[[*{id}]]</h4>
			                 <input type="hidden" th:field="*{id}">
			                 <h5><small>[[#{Date}]]: [[*{#temporals.format(record.servicedate, 'dd-MM-yyyy hh:mm')}]]</small></h5>
			                 <h5><small>[[#{Status}]]: <span th:class="${textclass}" th:text="*{payed ? '__#{Payed}__' : '__#{NotPayed}__'}"></span></small></h5>
			             </div>
			             <div class="float-right" >
			                <div class="dropdown ">
		                      <button class="btn btn-icons btn-rounded btn-inverse-outline-primary" type="button" id="dropdownexport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                      	<i class="fa fa-ellipsis-v"></i>
		                      </button>
		                      <div class="dropdown-menu" aria-labelledby="dropdownexport" style="">
		                        <button type="reset" class="dropdown-item" role="toggle" data-type="export" data-action="excel" onclick="printFromHtml()" href="#"><i class="fa fa-print "> </i> [[#{Print}]]</button>
		                        <button type="reset" class="dropdown-item" role="toggle" data-type="export" data-action="csv" onclick="CreatePDFfromHTML()" href="#"><i class="fa fa-file-pdf-o"> </i> [[#{ExportPdf}]]</button>
		                      </div>
	                        </div>
			             </div>
			         </div>
			         <div class="card-body">
			             <div class="row mb-4">
			                 <div class="col-sm-6 ">
			                     <h5 class="mb-3">[[#{Personnel}]]:</h5>
			                     <h3 class="text-dark mb-1">[[#{prefix.title.dr}]] [[${performer.name} + ' ' + ${performer.surname}]]</h3>
			                     <div><i class="mdi mdi-email-box"> </i> [[${performer.email}]]</div>
			                     <div><i class="mdi mdi-cellphone"> </i> [[${performer.phone}]]</div>
			                 </div>
			                 <div class="col-sm-6 text-right">
			                     <h5 class="mb-3">[[#{Customer}]]:</h5>
			                     <h3 class="text-dark mb-1">[[${account.name} + ' ' + ${account.surname}]]</h3>
			                     <div> [[${account.email}]] <i class="mdi mdi-email-box"> </i></div>
			                     <div>[[${account.phone}]] <i class="mdi mdi-cellphone"> </i> </div>
			                 </div>
			             </div>
			             <div class="table-responsive-sm">
			                 <table class="table table-striped">
			                     <thead>
			                         <tr>
			                             <th class="center">#</th>
			                             <th>[[#{DentalService}]]</th>
			                             <th>[[#{Description}]]</th>
			                             <th class="right">[[#{Price}]]</th>
			                             <th class="center">[[#{Qty}]]</th>
			                             <th class="right"><span class="float-right">[[#{Total}]]</span></th>
			                         </tr>
			                     </thead>
			                     <tbody>
			                         <tr  th:each="receiptItem, stat : *{receiptItems}">
			                             <td class="center" th:text="*{receiptItems[__${stat.index}__].id}"></td>
			                             <td class="left strong" th:text="*{receiptItems[__${stat.index}__].serviceType.name}"></td>
			                             <td class="left" >
											
											<div style="white-space: initial;">
												[[#{Teeth}]]:
												<p ><small th:each="visitedTooth, stat : *{record.visitedTeeth}">
													<span class="badge badge-outline-primary">[[${visitedTooth.name}]]</span>
												</small>
												</p>
												[[#{ServiceDetail}]]:
												<p >
													<small>[[*{record.servicedetail}]]</small>
												</p>
											</div>
										 </td>
			                             <td class="right" th:text="'__#{currency.ALL}__ '+*{#numbers.formatDecimal(receiptItems[__${stat.index}__].serviceType.price,0,'COMMA',0,'POINT')}"></td>
			                             <td class="center" th:text="*{receiptItems[__${stat.index}__].amount}"></td>
			                             <td class="right">
			                                 <span class="float-right" th:text="'__#{currency.ALL}__ '+ *{#numbers.formatDecimal(receiptItems[__${stat.index}__].serviceType.price,0,'COMMA',0,'POINT')}"></span>
			                             </td>
			                         </tr> 
			                     </tbody>
			                 </table>
			             </div>
			             <div class="row">
			                 <div class="ml-auto">
			                     <table class="table table-clear">
			                         <tbody>
			                             <tr>
			                                 <td class="left">
			                                    <strong class="text-dark">[[#{Subtotal}]]</strong>
			                                 </td>
			                                 <td class="right">
			                                 	<span class="float-right" th:text="'__#{currency.ALL}__ '+ *{#numbers.formatDecimal(total,0,'COMMA',0,'POINT')}"></span>
			                                 </td>
			                             </tr>
			                             <tr>
			                                 <td class="left">
			                                     <strong class="text-dark">[[#{VAT}]] ([[*{vat}]]%)</strong>
			                                 </td>
			                                 <td class="right"> <span class="float-right" th:text="'__#{currency.ALL}__ '+ *{#numbers.formatDecimal(vat,0,'COMMA',0,'POINT')}"></span></td>
			                             </tr>
			                             <tr>
			                                 <td class="left">
			                                     <strong class="text-dark">[[#{Total}]]</strong> </td>
			                                 <td class="right ">
			                                     <span class="float-right" th:text="'__#{currency.ALL}__ '+ *{#numbers.formatDecimal(total,0,'COMMA',0,'POINT')}"></span>
			                                 </td>
			                             </tr>
			                             <tr  th:if="*{!payed}" >
			                             	<td class="left">
			                             	</td>
			                                <td class="right p-0 m-0">
			                                	<div class="form-group float-right">
												    <div class="mt-2" id="payment">
						                                <label class="" for="payed1"> 
						                                	<input type="checkbox" th:field="*{payed}" >
						                                  	[[#{PayedReceipt}]]
						                                </label>
						                            </div>
					                            </div>
				                             	
			                                </td>
			                             </tr>
			                             <tr id="payedButtonTr">
			                             	<td class="left"></td>
			                             	<td class="right p-0 m-0 mt-2 float-right" >
			                             		<button th:if="*{!payed}" type="submit" class="btn btn-primary" style="display:none" id="save">[[#{Save}]]</button>
			                             		<a th:href="'/customer/'+*{record.history.customer.id}+'/history/'+*{record.history.id}+'/record/'+*{record.id}" class="btn btn-secondary"> [[#{action.continue}]]</a>
			                             	</td>
			                             </tr>
			                         </tbody>
			                     </table>
			                 </div>
			             </div>
			         </div>
			         <div class="card-footer bg-white">
			             <p class="mb-0">[[${global.businessName}]] | </p>
			         </div>
                </div>
             </div>
             <div class="col-md-4 ">
			  	<div class="row">
	              <div class="col-md-12 grid-margin" th:if="${selectedReceipt.record.history}">
					<div class="card"> 
            			<div class="card-body" th:with="accountUrl = 'demo_1/partials/account/modals/_view :: view'">
	             			<form th:action="@{/customer}" th:object="${selectedReceipt.record.history.customer}" method="post" >
			              		<section th:replace="__${accountUrl}__">
								  	<!-- partial:partials/_accountUrl.html -->
					  			</section>
					  		</form>
	           			</div>
            		</div>
	              </div>
	              <div class="col-md-12 grid-margin" th:if="${anamezeAllergies != null}" >
	              
					<section th:replace="demo_1/partials/widgets/customer/_alergies :: alergies">
						<!-- partial:partials/_accountUrl.html -->
					</section>
							
		          </div>
			  	</div>
			  </div>
            </div>
            </form>
            <script>
            
            $(document).ready(function(){
                $("#payment").find("input").addClass("form-check-input");
            });
            
            $("#payment").find("input").on("change",function(e){
               if($(e.target).is(":checked")){
                   $("#save").attr("disabled",false);
                   $("#save").show();
               }else{
                   $("#save").attr("disabled",true);
                   $("#save").hide();
               }
            });
            </script>
          </div>          
          
          <!-- content-wrapper ends -->

          <!-- partial -->
        </div>
        <!-- main-panel ends -->
        
      </div>
      
    
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="/assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    
      <script>
      function printFromHtml(){
          setTimeout(function(){
              //do what you need here
          
	          var divContents = $("#receipt").html();
	          html2canvas($("#receipt")[0]).then(function (canvas) {
	              var imgData = canvas.toDataURL("image/jpeg", 1.0);
	              var printWindow = window.open('', 'PRINT', 'height=400,width=800');
	              printWindow.document.write('<html>');
	              printWindow.document.write('<body >');
	              printWindow.document.write('<img src="'+imgData+'">');
	              printWindow.document.write('</body></html>');
	              printWindow.document.close();
	              printWindow.print();
	          });
          }, 500);
      }
      
      //Create PDf from HTML...
      function CreatePDFfromHTML() {
          var HTML_Width = $("#receipt").width();
          var HTML_Height = $("#receipt").height();
          var top_left_margin = 15;
          var PDF_Width = HTML_Width + (top_left_margin * 2);
          var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
          var canvas_image_width = HTML_Width;
          var canvas_image_height = HTML_Height;

          var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;

          setTimeout(function(){
	          html2canvas($("#receipt")[0]).then(function (canvas) {
	              var imgData = canvas.toDataURL("image/jpeg", 1.0);
	              var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height+100]);
	              pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height+100);
	              for (var i = 1; i <= totalPDFPages; i++) { 
	                  pdf.addPage(PDF_Width, PDF_Height);
	                  pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height*i)+(top_left_margin*4),canvas_image_width,canvas_image_height+1000);
	              }
	              var title = $("#receipt").find("h4").text().trim();
	              title = title.replace(/#/g, "_");
	              pdf.save(title+".pdf");
	          });
          }, 500);
      }
      </script>
    <script type="text/javascript" src="/assets/vendors/bootstrap-tagsinput-latest/src/bootstrap-tagsinput.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="/assets/js/shared/off-canvas.js"></script>
    <script src="/assets/js/shared/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="/assets/js/demo_1/booking.js"></script>
    <script src="/assets/js/demo_1/dashboard_selected_customer.js"></script>
    <!-- End custom js for this page-->
  </body>
</html>