<!DOCTYPE html>
<html lang="en">
  <div th:replace="demo_1/partials/_header :: header">
  </div>
  
<body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
          <div class="row w-100">
            <div class="col-lg-3 mx-auto">
              <div class="auto-form-wrapper mb-1" style="border-top-left-radius: 14.5px;border-top-right-radius: 14.5px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
                <h2 class="text-center mb-1">[[#{email.resetPassword}]]</h2>
                <p class="text-center muted mb-4">Provide your email</p>
                <form th:action="@{/reset}" method="POST">
                  <div class="form-group" th:if="${errorMessage == null && successMessage == null}">
                    <div class="input-group">
                      <input 
	                      type="email" 
	                      class="form-control form-control-round bg-light" 
	                      name="username" 
	                      th:placeholder="#{UsernameOrEmail}" 
	                      required>
                    </div>
                  </div>
                  <div class="form-group" th:if="${errorMessage != null || successMessage != null}">
                  	<div class="input-group-append" th:if="${errorMessage != null}">
                      <p class="alert alert-danger" th:text="${errorMessage}"> </p>
                    </div>
                    <div class="input-group-append" th:if="${successMessage != null}">
                      <p class="alert alert-success" th:text="${successMessage}"> </p>
                    </div>
                  </div>
                  <div class="form-group" th:if="${errorMessage == null && successMessage == null}">
                    <input type='submit' name='submit' class="btn btn-primary btn-block btn-lg" th:value="#{action.requestEmail}"/>
                  </div>
                  <hr/>
			        <div class=" text-block text-center my-3 mx-auto">
	                    <a href="/login" class="btn btn-lg btn-secondary text-medium text-black">
	                    	<span class="font-weight-semibold">[[#{Close}]]</span>
	                    </a>
                 	</div>
                </form>
              </div>
	            <div th:replace="demo_1/partials/_compact_footer :: footer">
				</div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../../assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../../../assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="../../../assets/js/shared/off-canvas.js"></script>
    <script src="../../../assets/js/shared/misc.js"></script>
    <!-- endinject -->
  </body>
</html>