<div class="card" th:fragment="create">
  <div class="card-body">
    <h4 class="card-title">#{CreateAccount} </h4>
    <hr/>
    
      <div class="form-group" id="attachmentInput">
							    
		    <div class="col-md-6 grid-margin" >
			<div class="form-group ">
				<label>[[#{ProfileImage}]]</label>
				<input id="recordAttachments" type="file" class="file" name="profileimage" multiple="false" data-preview-file-type="any">
			</div>
			
			</div>
	  </div>
    
      <div class="form-group">      
        <label for="username">[[#{Username}]]</label>
        <input type="text" class="form-control form-control-lg" th:placeholder="*{account.username}" th:field="*{account.username}">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('account.username')}" th:errors="*{account.username}"></p>
        <p class="alert alert-danger" th:if="${errorUsername != null}" th:text="${errorUsername}"></p>
      </div>
      
      <div class="form-group">      
        <label for="password">[[#{Password}]]</label>
        <input type="password" class="form-control form-control-lg" th:field="*{account.password}">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('account.password')}" th:errors="*{account.password}"></p>
      </div>

      <div class="form-group">      
        <label for="name">[[#{Name}]]</label>
        <input type="text" class="form-control form-control-lg" th:placeholder="*{account.name}" th:field="*{account.name}">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('account.name')}" th:errors="*{account.name}"></p>
      </div>
      
      <div class="form-group">      
        <label for="surname">[[#{Surname}]]</label>
        <input type="text" class="form-control form-control-lg" th:placeholder="*{account.surname}" th:field="*{account.surname}">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('account.surname')}" th:errors="*{account.surname}"></p>
      </div>
      
      <div class="form-group">      
        <label for="email">[[#{Email}]]</label>
        <input type="text" class="form-control form-control-lg" th:placeholder="*{account.email}" th:field="*{account.email}">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('account.email')}" th:errors="*{account.email}"></p>
        <p class="alert alert-danger" th:if="${errorEmail != null}" th:text="${errorEmail}"></p>
      </div>
      <div class="form-group">      
        <label for="phone">[[#{PhoneNr}]]</label>
        <input type="text" class="form-control form-control-lg" th:placeholder="*{account.phone}"  th:field="*{account.phone}">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('account.email')}" th:errors="*{account.phone}"></p>
      </div>
      
	  <div class="form-group">
		  <label for="gender">[[#{Gender}]]</label>	
		  <div class="form-radio form-radio-flat">
		    <label class="form-check-label">
		      <input type="radio" class="form-check-inputform-control-lg" value="male" th:checked="*{account.gender == 'male'}" th:field="*{account.gender}"> Male <i class="input-helper"></i></label>
		  </div>
		  <div class="form-radio form-radio-flat">
		    <label class="form-check-label">
		      <input type="radio" class="form-check-input"value="female"  th:checked="*{account.gender == 'female'}"  th:field="*{account.gender}"> Female <i class="input-helper"></i></label>
		  </div>
		  <p class="alert alert-danger" th:if="${#fields.hasErrors('account.gender')}" th:errors="*{account.gender}"></p>
	  </div>
      
      <div class="form-group">
        <label for="roles">[[#{Roles}]]</label>
        
        <select th:field="*{account.roles}" th:with="roleName = ${isPersonnelCreation !=null ? 'PERSONNEL' : 'CUSTOMER'}">
        	<option th:each="role: ${allRoles}" th:if="${role.name == roleName}"  th:value="${role.id}" th:text="${role.name}"></option>
        </select>
      </div>
      
      <div class="form-group" id="birthdayCalendar" >
        <label for="Birthday">[[#{Birthday}]]</label>
        <input type="date" class="form-control form-control-lg" id="birthdayCalendar" th:placeholder="*{account.birthday}"  th:field="*{account.birthday}">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('account.birthday')}" th:errors="*{account.birthday}"></p>
      </div>
      <div class="form-group">
        <label for="address">[[#{Address}]]</label>
        <input type="text" class="form-control form-control-lg" th:placeholder="*{account.address}" th:field="*{account.address}">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('account.address')}" th:errors="*{account.address}"></p>
      </div>
      <div class="form-group">
        <label for="city">[[#{City}]]</label>
        <input type="text" class="form-control form-control-lg" th:placeholder="*{account.city}" th:field="*{account.city}">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('account.city')}" th:errors="*{account.city}"></p>
      </div>
      <div class="form-group">
        <label for="country">[[#{Country}]]</label>
        <input type="text" class="form-control form-control-lg" th:placeholder="*{account.country}"  th:field="*{account.country}">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('account.country')}" th:errors="*{account.country}"></p>
      </div>
      
      <script>
      $('#birthdayCalendar').datetimepicker({
     	    "allowInputToggle": true,
     	    "showClose": true,
     	    "showClear": true,
     	    "format": "YYYY-MM-DD",
     	    "daysOfWeekDisabled": []
       });

      </script>
  </div>
</div>