<div class="card" th:fragment="passwordChange">

  <div th:if="${errorEditingAccount != null}">[[${errorEditingAccount}]]</div>
  <div class="card-body" th:if="${errorEditingAccount == null}">
    <h4 class="card-title">[[#{action.changePassword}]] <u>[[*{username}]]</u></h4>
    <hr/>
	<div class="form-group" id="attachmentInput">
	    <div class="col-md-12 grid-margin" >
			<div class="form-group " >
				<label>[[#{OldPassword}]]</label>
				<input class="form-control form-control-lg" type="password" name="oldPassword" id="oldPassword">
			</div>
			<div class="form-group " >
				<label>[[#{NewPassword}]]</label>
				<input class="form-control form-control-lg" type="password" name="newPassword" id="newPassword">
			</div>
			<div class="form-group " >
				<label>[[#{ConfirmNewPassword}]]</label>
				<input class="form-control form-control-lg" type="password" name="reconfirmNewPassword" id="reconfirmPassword">
			</div>

		</div>
	  </div>
  </div>
</div>