<div class="card" th:fragment="view">
  <div class="card-body">
  
  <div class="row">
          <div class="col-sm-6 col-md-4" th:if="*{account.image != null }" th:with="imgsuburl = *{account.roles[0].name == 'ADMIN' || account.roles[0].name == 'PERSONNEL' ? 'personnel' : 'customer'}">
              <img th:src="@{/resources/__${imgsuburl}__/img/profile/__*{account.image}__}" alt="" width="100%" height="100%" border="0" class="rounded"  />
          </div>
          <div class="col-sm-6 col-md-4" th:if="*{account.image == null }">
              <img th:src="'https://st3.depositphotos.com/4111759/13425/v/600/depositphotos_134255710-stock-illustration-avatar-vector-male-profile-gray.jpg'" alt="" width="100%" border="0" class="rounded"  />
          </div>
          <div class="col-sm-6 col-md-8">
              <h4>[[*{account.name}]] [[*{account.surname}]]</h4>
              <small><cite th:title="*{account.address} +','+ *{account.city} +','+ *{account.country}"><i class="mdi mdi-map-marker"></i>[[*{account.address} +','+ *{account.city} +','+ *{account.country}]]</cite></small>
              <small><cite title="Age"> <i class="mdi mdi-gift"></i>[[*{account.age}]] </cite></small>
              <p>
                  <i class="mdi mdi-email-box"></i>[[*{account.email}]]<br />
                  <i class="mdi mdi-cellphone"></i><a href="">[[*{account.phone}]]</a><br />
                  <i class="mdi mdi-calendar" th:if="${registerdate != null}">[[*{#dates.format(registerdate, 'dd/MM/yyyy')}]]</i></p>
              <!-- Split button -->
              <div class="dropdown" name="actionButton" >
                     	<button type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        	<i class="mdi mdi-circle-edit-outline fa-lg"></i>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                        <h6 class="dropdown-header">[[#{Actions}]]</h6>
                        <a class="dropdown-item" th:href="'/account/edit/'+*{id} "><i class="mdi mdi-pencil-outline fa-lg"></i> [[' '+#{Edit}]]</a>
                        
                        <a class="dropdown-item" th:with="path = *{account.roles[0].name == 'PERSONNEL' ? '/admin/personnel' : '/customer'}"  th:href="${path}+'/delete/'+*{id} "><i class="mdi mdi-trash-can-outline fa-lg"></i> [[' '+#{Delete}]]</a>
                      </div>
                      
               </div>
          </div>
      </div>
  
  </div>
</div>