<div class="row" th:fragment="home">
			  <div class="col-12 ">
				<div class="page-header" style="border:none;" th:with="size = ${#lists.size(lastWorkingDates)},
                        												yesterday = ${lastWorkingDates[size-1]}">
					<h5 class="page-title" th:if="${isYesterday != null}">[[#{YesterdaysOverview}]]</h5>
					<h5 class="page-title" th:if="${isYesterday == null}">[[#{OverviewFor}]] [[${yesterday}]]</h5>
					<small class="text-muted pt-1 d-block" th:if="${isYesterday != null}">[[#{HereIsQuickOverview}]] [[${isYesterday != null ? '__#{Yesterday}__' : '__#{yesterday}__'}]]</small>

				</div>
				
			  </div>
			  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
					<div class="card-body pb-0 clearfix" th:with="incrSign = ${visitsGrowth > 0 ? '+' : visitsGrowth < 0 ? '-' : ''},
						incrText = ${visitsGrowth > 0 ? 'IncreasedBy' : visitsGrowth < 0 ? 'DecreasedBy' : 'NoDifference'},
						incrTextClass = ${visitsGrowth > 0 ? 'text-success' : visitsGrowth < 0 ? 'text-danger' : 'text-muted'},
						incrPercNoSign = ${visitsGrowth >= 0 ? visitsGrowth : #strings.substring(visitsGrowth,1,#strings.length(visitsGrowth)-2)}">
										  
                      <div class="float-left">
                        <p class="mb-0 text-left">[[#{Visits}]] 
                        	<small data-toggle="tooltip" data-html="true" th:title="#{YesterdaysTotalVisits}"><i class="mdi mdi-alert-octagon " aria-hidden="true"></i></small>
                        </p>
                        <div class="d-flex align-items-center" th:with="size = ${#lists.size(nrOfVisitsForWorkingDays)},
                        												visitsYesterday = ${nrOfVisitsForWorkingDays[size-1]}">
	                      <h4 class="font-weight-semibold">[[${visitsYesterday}]]</h4>
	                      <h6 th:class="${incrTextClass}+' font-weight-semibold ml-4'">[[${visitsGrowth}]]%</h6>
	                    </div>
	                    <small class="text-muted mt-n1 d-block">[[#{__${incrText}__}]] [[${incrPercNoSign}]]% 
	                    	<small data-toggle="tooltip" data-html="true" th:title="#{ComparedToSevenDaysPrior}"><i class="mdi mdi-alert-octagon " aria-hidden="true"></i></small>
	                    </small>
                      </div>
                      <div class="float-right mb-0">
                        <i class="fa fa-stethoscope text-primary icon-lg m-2"></i>
                      </div>                      
                    </div>
                    <canvas class="mt-2 chartjs-render-monitor" id="visitsYesterdayGraph" height="45" style="display: block;" width="260"></canvas>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                  <div class="card-body pb-0" th:with="incrSign = ${revenueGrowth > 0 ? '+' : revenueGrowth < 0 ? '-' : ''},
							incrText = ${revenueGrowth > 0 ? 'IncreasedBy' : revenueGrowth < 0 ? 'DecreasedBy' : 'NoDifference'},
							incrTextClass = ${revenueGrowth > 0 ? 'text-success' : revenueGrowth < 0 ? 'text-danger' : 'text-muted'},
							incrPercNoSign =  ${revenueGrowth >= 0 ? revenueGrowth : #strings.substring(revenueGrowth,1,#strings.length(revenueGrowth)-2)}">
							
                      <div class="float-left">
                        <p class="mb-0 text-left">[[#{Revenue}]]
                        	<small data-toggle="tooltip" data-html="true" th:title="#{YesterdaysTotalRevenue}"><i class="mdi mdi-alert-octagon " aria-hidden="true"></i></small>
                        </p>
                        <div class="d-flex align-items-center" th:with="size = ${#lists.size(nrOfRevenueForWorkingDays)},
                        												revenueYesterday = ${nrOfRevenueForWorkingDays[size-1]}">
	                      <h4 class="font-weight-semibold">[[#{currency.ALL}]] [[${#numbers.formatDecimal(revenueYesterday, 0,'COMMA', 0,'POINT')}]]</h4>
	                      <h6 th:class="${incrTextClass}+' font-weight-semibold ml-4'">[[${revenueGrowth}]]%</h6>
	                    </div>
	                    <small class="text-muted mt-n1 d-block">[[#{__${incrText}__}]] [[${incrPercNoSign}]]% 
	                    	<small data-toggle="tooltip" data-html="true" th:title="#{ComparedToSevenDaysPrior}"><i class="mdi mdi-alert-octagon " aria-hidden="true"></i></small>
	                    </small>
                      </div>
                      <div class="float-right mb-0">
                        <i class="mdi mdi-cash-multiple text-success icon-lg"></i>
                      </div>
                  </div>
                  <canvas class="mt-2 chartjs-render-monitor" id="revenueYesterdayGraph" height="45" style="display: block;" width="260"></canvas>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card" >
                <div class="card card-statistics">
                  <div class="card-body pb-0" th:with="incrSign = ${newCustomerGrowth > 0 ? '+' : newCustomerGrowth < 0 ? '-' : ''},
						incrText = ${newCustomerGrowth > 0 ? 'IncreasedBy' : newCustomerGrowth < 0 ? 'DecreasedBy' : 'NoDifference'},
						incrTextClass = ${newCustomerGrowth > 0 ? 'text-success' : newCustomerGrowth < 0 ? 'text-danger' : 'text-muted'},
						incrPercNoSign =  ${newCustomerGrowth >= 0 ? newCustomerGrowth : #strings.substring(newCustomerGrowth,1,#strings.length(newCustomerGrowth)-2)}">
						
                      <div class="float-left">
                        <p class="mb-0 text-left">[[#{NewCustomers}]]
                        	<small data-toggle="tooltip" data-html="true" th:title="#{YesterdaysTotalNewCustomers}"><i class="mdi mdi-alert-octagon " aria-hidden="true"></i></small>
                        </p>
                        <div class="d-flex align-items-center" th:with="size = ${#lists.size(nrOfNewCustomersForWorkingDays)},
                        												newCustomerYesterday = ${nrOfNewCustomersForWorkingDays[size-1]}">
	                      <h4 class="font-weight-semibold">[[${newCustomerYesterday}]]</h4>
	                      <h6 th:class="${incrTextClass}+' font-weight-semibold ml-4'">[[${newCustomerGrowth}]]%</h6>
	                    </div>
	                    <small class="text-muted mt-n1 d-block">[[#{__${incrText}__}]] [[${incrPercNoSign}]]% 
	                    	<small data-toggle="tooltip" data-html="true" th:title="#{ComparedToSevenDaysPrior}"><i class="mdi mdi-alert-octagon " aria-hidden="true"></i></small>
	                    </small>
                      </div>
                      <div class="float-right mb-0">
                        <i class="mdi mdi-account-multiple text-warning icon-lg"></i>
                      </div>
                  </div>
                  <canvas class="mt-2 chartjs-render-monitor" id="newPatientsYesterdayGraph" height="45" style="display: block;" width="260"></canvas>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                  <div class="card-body pb-0" th:with="incrSign = ${noShowGrowth > 0 ? '+' : noShowGrowth < 0 ? '-' : ''},
					incrText = ${noShowGrowth > 0 ? 'IncreasedBy' : noShowGrowth < 0 ? 'DecreasedBy' : 'NoDifference'},
					incrTextClass = ${noShowGrowth > 0 ? 'text-success' : noShowGrowth < 0 ? 'text-danger' : 'text-muted'},
					incrPercNoSign = ${noShowGrowth >= 0 ? noShowGrowth : #strings.substring(noShowGrowth,1,#strings.length(noShowGrowth)-2)}">
					
                      <div class="float-left">
                        <p class="mb-0 text-left">[[#{NoShows}]]
                        	<small data-toggle="tooltip" data-html="true" th:title="#{YesterdaysTotalNoShows}"><i class="mdi mdi-alert-octagon " aria-hidden="true"></i></small>
                        </p>
                        <div class="d-flex align-items-center" th:with="size = ${#lists.size(nrOfAppointmentsNoShows)},
                        												noShowsYesterday = ${nrOfAppointmentsNoShows[size-1]}">
	                      <h4 class="font-weight-semibold">[[${noShowsYesterday}]]</h4>
	                      <h6 th:class="${incrTextClass}+' font-weight-semibold ml-4'">[[${noShowGrowth}]]%</h6>
	                    </div>
	                    <small class="text-muted mt-n1 d-block">[[#{__${incrText}__}]] [[${incrPercNoSign}]]%  
	                    	<small data-toggle="tooltip" data-html="true" th:title="#{ComparedToSevenDaysPrior}"><i class="mdi mdi-alert-octagon " aria-hidden="true"></i></small>
	                    </small>
                      </div>
                      <div class="float-right mb-0">
                        <i class="mdi mdi-calendar-remove text-danger icon-lg"></i>
                      </div>
                  </div>
                  <canvas class="mt-2 chartjs-render-monitor" id="noShowsYesterdayGraph" height="45" style="display: block;" width="260"></canvas>
                </div>
              </div>
              <div class="col-12 ">
				<div class="page-header" style="border:none;">
					<h5 class="page-title">[[#{Overall}]]</h5>
				</div>
			  </div>
   <div class="col-md-9 grid-margin stretch-card">
     <div class="card" >
     		<div class="card-body">
     			<div class="row">
     				<div class="col-md-3 d-flex flex-column">
     					<div class="form-group">
     						<div class="d-flex flex-column flex-lg-row">
						       	<div class="data-wrapper d-flex mt-2 mt-lg-0">
					    	  		<h3>[[#{Personnel}]]</h3>
					    	  	</div>
					    	</div>
					        <hr>
					        <div class="row">
					        	<div class="col-md-12 grid-margin">
	        						<select id="multipleSelectPersonnel" th:if="${allPersonnel}">
									  <option th:each="personnel: ${allPersonnel}" th:value="${personnel.id}" th:text="${personnel.name} + ', ' + ${personnel.surname}"></option>
									</select>
	        					</div>
					        </div>
     					</div>
     				</div>
     				<div class="col-md-9 d-flex flex-column">
						<div class="form-group">      
					       <div class="d-flex flex-column flex-lg-row">
					       	  <div class="data-wrapper d-flex mt-2 mt-lg-0">
					    	  	<h3>[[#{Visits}]] & [[#{Appointments}]]</h3>
					    	  </div>
					    	  <div class="ml-lg-auto">
				        		<div class="input-group">
	                                   <div class="input-group-prepend " th:if="${dateRangeInit}">
	                                   	  <i class="fa fa-spin fa-spinner" id="appointmentPickerSpinner" style="display:none;"></i>
	                                      <input type="text" style="width: 200px" name="reservation" id="appointmentPicker" class="form-control" th:value="${dateRangeInit}">
	                                      <span class="input-group-text bg-transparent"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
	                                   </div>
	                             </div>
							  </div>
						    </div>
					        <hr>
					        <div class="row">
	        					<div class="col-md-9">
		       						<canvas id="horizontalAppointmentsBar"></canvas>
	        					</div>
			       				<div class="col-md-3 legend-wrapper d-flex flex-column  justify-content-center " >
			       					<div class="d-flex flex-column justify-content-center mb-4">
		                              <div class="d-flex align-items-center" id="">
		                                <h4 class="mb-0">[[#{Total}]]</h4>
		                              </div>
		                            </div>
		                            <div id="BarsTotal">
			                            <div class="d-flex flex-column justify-content-center" >
			                              <div class="d-flex align-items-center" id="visitsBarTotalCount">
			                                <div class="dot-indicator mt-1 mr-2"></div>
			                                <h4 class="mb-0">0</h4>
			                              </div>
			                              <small class="text-muted ml-3">[[#{Visits}]]</small>
			                            </div>
			                            <div class="d-flex flex-column justify-content-center border-top border-bottom py-2  mt-1 mb-1" id="appointmentsBarTotal">
			                              <div class="d-flex align-items-center" id="appointmentsBarTotalCount">
			                                <div class="dot-indicator mt-1 mr-2"></div>
			                                <h4 class="mb-0">1</h4>
			                              </div>
			                              <small class="text-muted ml-3">[[#{Appointments}]]</small>
			                            </div>
		                            </div>
	                          	</div>
	                          </div>
	        			 </div>
	        			 <div class="form-group">      
					       <div class="d-flex flex-column flex-lg-row">
					       	  <div class="data-wrapper d-flex mt-2 mt-lg-0">
					    	  	<h3>[[#{Revenue}]]</h3>
					    	  </div>
						    </div>
					        <hr>
	        				<div class="row">
	        					<div class="col-md-9">
		       						<canvas id="RevenueBarGraph"></canvas>
	        					</div>
        						<div class="col-md-3 legend-wrapper d-flex flex-column  justify-content-center " >
			       					<div class="d-flex flex-column justify-content-center mb-4">
		                              <div class="d-flex align-items-center" id="">
		                                <h4 class="mb-0">[[#{Total}]]</h4>
		                              </div>
		                            </div>
		                            <div id="RevenueBarsTotal">
			                            <div class="d-flex flex-column justify-content-center" >
			                              <div class="d-flex align-items-center" id="revenueBarTotalCount">
			                                <div class="dot-indicator mt-1 mr-2"></div>
			                                <h4 class="mb-0">[[#{currency.ALL}]] 0</h4>
			                              </div>
			                              <small class="text-muted ml-3">[[#{Revenue}]]</small>
			                            </div>
		                            </div>
		                      </div>
                          		</div>
	        			 </div>
					</div>
     				</div>
					
				</div>
			</div>
   </div>
   <div class="col-3">
   <div class="row mb-2">
   <div class="col-12 ">
	<div class="page-header" style="border:none;">
		<h5 class="page-title">[[#{ThisYear}]]</h5>
	</div>
   </div>
   <div class="col-md-12">
     <div class="card">
	       	<div class="card-header p-3">
		       	<div class="d-flex flex-column flex-lg-row">
		         <h3 class="card-title"><i class="mdi mdi-stethoscope fa-lg"></i>  [[#{Visits}]]</h3>
		         	<div class="ml-auto">[[${sumVisitsThisYear}]]</div>
		       	</div>
	       	</div>
	       	<div class="card-body p-1 " >
				<canvas id="totalVisitsLineGraph" style="display: block;" ></canvas>
	   	   	</div>   		    
      </div>
     </div>
   </div>
   <div class="row mb-2">
    <div class="col-md-12">
        <div class="card">
	       	<div class="card-header p-3">
	       	<div class="d-flex flex-column flex-lg-row">
	         <h3 class="card-title"><i class="mdi mdi-cash-multiple fa-lg"></i> [[#{Revenue}]] </h3>
	         	<div class="ml-auto">[[${#numbers.formatDecimal(sumRevenueThisYear, 0,'COMMA', 0,'POINT')}]] [[#{currency.ALL}]]</div>
	         </div>
	       	</div>
	       	<div class="card-body p-1 " >
				<canvas id="totalRevenueLineGraph" style="display: block;" ></canvas>
	   	   	</div>   		    
       	</div>
   		
     </div>
   </div>
   <div class="row mb-2">
    <div class="col-md-12">
        <div class="card">
	       	<div class="card-header p-3">
	       	<div class="d-flex flex-column flex-lg-row">
	         <h3 class="card-title"><i class="mdi mdi-account-multiple-plus-outline fa-lg"></i> [[#{NewCustomers}]] </h3>
	         	<div class="ml-auto">[[${sumNewCustomers}]]</div>
	         </div>
	       	</div>
	       	<div class="card-body p-1 " >	
				<canvas id="lineCustomerChart" style="display: block;" ></canvas>
	   	   	</div>   		    
       	</div>
   		
     </div>
    </div>
    <div class="row mb-2">
	    <div class="col-md-12">
	        <div class="card">
		       	<div class="card-header p-3">
		       	<div class="d-flex flex-column flex-lg-row">
		         <h3 class="card-title"><i class="mdi mdi-calendar-remove fa-lg"></i> [[#{NoShows}]] [[${sumNoShowsThisYear}]] [[${settings.appointmentTimeSplit}]]</h3>
		         	<div class="ml-auto" th:with="variable = ${sumNoShowsThisYear}, 
		         	controllerVar = ${settings.appointmentTimeSplit}, 
		         	var = ${variable*controllerVar}">
		         	
		         		[[${sumNoShowsThisYear}]]  <small >([[ ${var} ]] [[#{Minutes}]] <i class="mdi mdi-alert-octagon " th:title="#{TimeLossNoShowsEstimation}" aria-hidden="true"></i>)</small>
		         	
		         	</div>
		         </div>
		       	</div>
		       	<div class="card-body p-1 " >
					<canvas id="totalNoShowsLineGraph" style="display: block;" ></canvas>	
		   	   	</div>   		    
	       	</div>
	   		
	     </div>
     </div>
     <!-- 
   <div class="row mb-2">
   	<div class="col-md-12">
		<div class="col-12 ">
			<div class="page-header" style="border:none;">
				<h5 class="page-title">[[#{Advanced}]]</h5>
			</div>
		</div>
	    <div class="card">
	       <div class="card-header p-3">
	         <h3 class="card-title"><i class="mdi mdi-stethoscope fa-lg"></i>  [[#{Visits}]] <small>[[#{CustomerBased}]]: </small></h3>
	       </div>
	       <div class="card-body p-1">
	   				<div class="tbl-overflow" th:if="${lastVisitList != null}">
						<canvas id="pieCustomerChart"></canvas>
	     			</div>
	   		</div>
	     </div>
     </div>
   </div>
    -->
   </div>
  	 <script>
  	 	$(document).ready(function(){

  	     	var token = $("meta[name='_csrf']").attr("content");
  	     	var header = $("meta[name='_csrf_header']").attr("content");
  	     	
  		    $(document).ajaxSend(function(e, xhr, options) {
  			    xhr.setRequestHeader(header, token);
  			});
  	 	});
     	if( $('#appointmentPicker').length != null){

       	 	var multiselectPersonnel = $('#multipleSelectPersonnel').multiselect();
     		
	        $('#appointmentPicker').daterangepicker({
	        	format: 'DD/MM/YYYY'       		
	        }, function(start, end, label) {
	        	fireDateChange(start,end);
	        });
	     
     	}
     </script>
     
     <script th:inline="javascript" th:if="${allPersonnel != null}">
	 /*<![CDATA[*/
		var visitsName = ""+ /*[[#{Visits}]]*/'';
		var appointmentsName = ""+ /*[[#{Appointments}]]*/'';
		
	 	var noShowName = /*[[#{NoShows}]]*/'';
	 	var revenueName = /*[[#{Revenue}]]*/'';
	 	var currencyAll = /*[[#{currency.ALL}]]*/'';
	 	
	 	var list =  [[${nrOfVisitsList}]];
	 	
	 	var personnelNames = new Array([[${allPersonnel[0].name}+', '+${allPersonnel[0].surname}]]);	 	
	 	var personnelRecordsList=[[${allRecords}]];
	 	var personnelAppointmentList=[[${allAppointments}]];
	 	var personnelRevenue = [[${allRevenues}]];

	 	var customerLabels = [""+/*[[#{VisitsFromNewCustomers}]]*/"", ""+/*[[#{VisitsFromReturningCustomers}]]*/ ""];
	 	var allCustomer = [[${allCustomers}]];
	 	
 	 	var thisYearCustomerLabel = /*[[#{New}]]*/ +"";
	 	var thisYearCustomerValues = [[${allNewCustomers}]];
	 	
	 	var thisYearVisitsLabel = visitsName;
	 	var thisYearVisitsValues = [[${allVisitsThisYear}]];
	 	
	 	var thisYearRevenueLabel = revenueName;
	 	var thisYearRevenueValues = [[${allRevenueThisYear}]];
	 	
	 	var thisYearNoShowsValues = [[${allNoShowsThisYear}]];
	 	
	 	var nrOfAppointmentsNoShows = [[${nrOfAppointmentsNoShows}]];
	 	var noShowGrowth = /*[[${noShowGrowth}]]*/;
	 	
	 	var nrOfVisitsForWorkingDays = [[${nrOfVisitsForWorkingDays}]];
	 	var visitsGrowth = /*[[${visitsGrowth}]]*/;
	 	
	 	var nrOfNewCustomersForWorkingDays = [[${nrOfNewCustomersForWorkingDays}]];
	 	var newCustomerGrowth = /*[[${newCustomerGrowth}]]*/;
	 	
	 	var nrOfRevenueForWorkingDays = [[${nrOfRevenueForWorkingDays}]];

	 	var revenueGrowth = /*[[${revenueGrowth}]]*/;
	 	
	 	var lastWorkingDates = [[${lastWorkingDates}]];
	 	
	 /*]]>*/
     </script>
     <script>
     	var lineGraphCardOptions = { 
                responsive: true,
                elements: {
                    point: {
                        radius: 1.5
                    },
                    line: {
                        tension: 0
                    }
                },
	            scales: {
	                xAxes: [{
	                    display: false
	                }],
	                yAxes: [{
	                    display: false
	                }]
	            },
	            legend: false,
	            tooltips: {
	                // Disable the on-canvas tooltip
	                enabled: false,
	                intersect: false,

	                custom: function(tooltipModel) {
	                    // Tooltip Element
	                    var tooltipEl = document.getElementById('chartjs-tooltip');

	                    // Create element on first render
	                    if (!tooltipEl) {
	                        tooltipEl = document.createElement('div');
	                        tooltipEl.id = 'chartjs-tooltip';
	                        tooltipEl.innerHTML = '<table></table>';
	                        document.body.appendChild(tooltipEl);
	                    }

	                    // Hide if no tooltip
	                    if (tooltipModel.opacity === 0) {
	                        tooltipEl.style.opacity = 0;
	                        return;
	                    }

	                    // Set caret Position
	                    tooltipEl.classList.remove('above', 'below', 'no-transform');
	                    if (tooltipModel.yAlign) {
	                        tooltipEl.classList.add(tooltipModel.yAlign);
	                    } else {
	                        tooltipEl.classList.add('no-transform');
	                    }

	                    function getBody(bodyItem) {
	                        return bodyItem.lines;
	                    }

	                    // Set Text
	                    if (tooltipModel.body) {
	                        var titleLines = tooltipModel.title || [];
	                        var bodyLines = tooltipModel.body.map(getBody);

	                        var innerHtml = '<thead>';

	                        titleLines.forEach(function(title) {
	                            innerHtml += '<tr><th>' + title + '</th></tr>';
	                        });
	                        innerHtml += '</thead><tbody>';

	                        bodyLines.forEach(function(body, i) {
	                            var text = body[0].split(":");
	                            var body = text[1].length > 3 ? text[0]+ " " +text[1].replace(/\B(?=(\d{3})+(?!\d))/g, ",") : text.join(" "); 
	                            
	                            var colors = tooltipModel.labelColors[i];
	                            var style = 'background:' + colors.backgroundColor;
	                            style += '; border-color:' + colors.borderColor;
	                            style += '; border-width: 2px';
	                            var span = '<span style="' + style + '"></span>';
	                            innerHtml += '<tr><td>' + span + body + '</td></tr>';
	                        });
	                        innerHtml += '</tbody>';

	                        var tableRoot = tooltipEl.querySelector('table');
	                        tableRoot.innerHTML = innerHtml;
	                    }

	                    // `this` will be the overall tooltip
	                    var position = this._chart.canvas.getBoundingClientRect();
	                    var width= Math.max( document.body.scrollWidth, document.body.offsetWidth);
	                    
	                    // Display, position, and set styles for font
	                    tooltipEl.style.opacity = 1;
	                    tooltipEl.style.position = 'absolute';
	                    if((position.right + window.pageXOffset + tooltipModel.caretX)+50 >= window.innerWidth){
	                        tooltipEl.style.left = (position.left + window.pageXOffset + tooltipModel.caretX) - (this._view.width)  + 'px';    
	                    }else{
	                        tooltipEl.style.left = position.left + window.pageXOffset + tooltipModel.caretX + 'px';
	                    }
	                    
	                    tooltipEl.style.top = position.top + window.pageYOffset + tooltipModel.caretY + 'px';
	                    tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
	                    tooltipEl.style.fontSize = tooltipModel.bodyFontSize + 'px';
	                    tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
	                    tooltipEl.style.padding = tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
	                    tooltipEl.style.pointerEvents = 'none';
	                }
	        },
            layout: {
                yAlign: 'bottom',
                padding: {
                    left: 0,
                    right: 0,
                    top: 2,
                    bottom: 0
                },
       		}
   		};
     
     	var ctx = document.getElementById('visitsYesterdayGraph').getContext('2d');
		// For a line chart
		var mylineChart = new Chart(ctx, {
		    type: 'line',
	         // The data for our dataset
	         data: {
              labels: lastWorkingDates,
              datasets: [{
                  label: visitsName,
                  backgroundColor: '#90ceff80',
                  borderColor: '#2196f3',
                  data: nrOfVisitsForWorkingDays
              }]
          },
          options: lineGraphCardOptions
		});
		
     	var ctx = document.getElementById('revenueYesterdayGraph').getContext('2d');
		// For a line chart
		
		var mylineChart = new Chart(ctx, {
		    type: 'line',
	         // The data for our dataset
	         data: {
              labels: lastWorkingDates,
              datasets: [{
                  label: revenueName,
                  backgroundColor: '#76e0bb82',
                  borderColor: '#1bca8c',
                  data: nrOfRevenueForWorkingDays
              }]
          },
          options: lineGraphCardOptions
		});
		
		
     	var ctx = document.getElementById('newPatientsYesterdayGraph').getContext('2d');
		// For a line chart
		var mylineChart = new Chart(ctx, {
		    type: 'line',
	         // The data for our dataset
	         data: {
              labels: lastWorkingDates,
              datasets: [{
                  label: thisYearCustomerLabel,
                  backgroundColor: '#f5d79585',
                  borderColor: '#ffaf00',
                  data: nrOfNewCustomersForWorkingDays
              }]
          },
          options: lineGraphCardOptions
		});
		
     	var ctx = document.getElementById('noShowsYesterdayGraph').getContext('2d');
		// For a line chart
		var mylineChart = new Chart(ctx, {
		    type: 'line',
	         // The data for our dataset
	         data: {
              labels: lastWorkingDates,
              datasets: [{
                  label: noShowName,
                  backgroundColor: '#f5918a87',
                  borderColor: '#ff6258',
                  data: nrOfAppointmentsNoShows
              }]
          },
          options: lineGraphCardOptions
		});
     </script>
</div>