<div th:fragment="banner" th:remove="tag">
	<span th:if="${subscription == null || subscription.id == null}" 	>
		<div class="item-purchase-banner" th:if="${not loggedInAccount.roles.?[name == 'ADMIN'].isEmpty()}">
			<p class="banner-text">[[#{SubscriptionExpired}]] [[#{SubscriptionExpiredAdmin}]]</p>              
			<a href="/admin/subscription"  class="banner-button btn btn-primary btn-icon">                
				<i class="fa fa-handshake-o"></i> [[#{Subscription}]]
			</a>              
				<span class="toggler-close"></span>          
		</div>
		<div class="item-purchase-banner" th:if="${not loggedInAccount.roles.?[name == 'PERSONNEL'].isEmpty()}">
			<p class="banner-text">[[#{SubscriptionExpired}]] [[#{SubscriptionExpiredPersonnel}]] </p>
			<span class="toggler-close"></span>
		</div>
	</span>
	<script th:inline="javascript">
	/*<![CDATA[*/ 
		var subscriptionExpired = /*[[#{SubscriptionExpired}]]*/'';
		var subscriptionExpiredAdmin= /*[[#{SubscriptionExpiredAdmin}]]*/'';
		var subscriptions = /*[[#{Subscription}]]*/'';
		
		var subscriptionReachLimit = /*[[#{SubscriptionReachLimit}]]*/'';
		var subscriptionLimitUpgrade = /*[[#{SubscriptionLimitUpgrade}]]*/'';
   	/*]]>*/
    </script>
    <script th:if="${subscription == null || subscription.id == null}">
    	$("body").addClass("purchase-banner-active");
    </script>
	<script>
		
		$(document).ready(function(){
		    $('[data-subscription]').click(function(e){
		        if($(this).data('subscription') == 'expired'){
		            e.preventDefault();
		            subscriptionExpiredToastBanner();
		        }
		        
		        if($(this).data('subscription') == 'reachLimit'){
		            e.preventDefault();
		            subscriptionNearLimitToastBanner();
		        }
		    });
		});
		
		
		function subscriptionExpiredToastBanner(){
		    $.toast({
		        heading: subscriptionExpired,
		        text: subscriptionExpiredAdmin + '<br /><a href="/admin/subscription" class="btn btn-primary btn-icon mt-2">'
		        	+'<i class="fa fa-handshake-o"></i>'+subscriptions+'</a>',
		        hideAfter: 3000,
		        showHideTransition: 'plain',
		        stack: false,
		        position: "bottom-right",
		        icon: 'error',
		        bgColor: '#bf0703',
		        loaderBg: '#5f7df9',
		        textColor: 'white'
		    })
		}
		
		function subscriptionNearLimitToastBanner(){
		    $.toast({
		        heading: subscriptionReachLimit,
		        text:  subscriptionLimitUpgrade + '<br /><a href="/admin/subscription" class="btn btn-primary btn-icon mt-2">'
		        	+'<i class="fa fa-handshake-o"></i>'+subscriptions+'</a>',
		        hideAfter: 3000,
		        showHideTransition: 'plain',
		        stack: false,
		        position: "bottom-right",
		        icon: 'warning',
		        bgColor: '#ffe0de',
		        loaderBg: '#fc685f',
		        textColor: '#000000'
		    })
		}
	</script>
</div>
