<!DOCTYPE html>
<html lang="en">
  <div th:replace="demo_1/partials/_header :: header">
  </div>
  <body >
  	<section th:replace="demo_1/partials/subscription/modals/_banner :: banner">
	</section>
  
    <div class="container-scroller">
      <section th:replace="demo_1/partials/_navbar :: navbar">
  	  </section>
      <!-- partial:partials/_navbar.html -->
      
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        
        <section th:replace="demo_1/partials/_sidebar :: sidebar">
        <!-- partial:partials/_sidebar.html -->
        </section>
        
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper" th:with="path = 'demo_1/partials/'+${#strings.toLowerCase(currentRoles[0].name)}+'/home :: home'">
            <!-- Page Title Header Starts-->
            <section th:replace="demo_1/partials/_breadcrumb :: breadcrumb">
			  	<!-- partial:partials/_breadcrumb.html -->
  			</section>
            
            <!-- Page Title Header Ends-->
            <section th:replace="__${path}__">
			  	<!-- partial:partials/_genericHome.html -->
  			</section>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial -->
          
        </div>
        <!-- main-panel ends -->
        
      </div>
      
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="/assets/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="/assets/js/shared/off-canvas.js"></script>
    <script src="/assets/js/shared/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="/assets/js/demo_1/charts.js" ></script>
    <script src="/assets/js/demo_1/index.js" ></script>
    <script src="/assets/js/demo_1/dmsreq.js" ></script>
    
    <!-- End custom js for this page-->
  
  </body>
</html>