<span th:fragment="modals" >
	
	<!-- Edit Modal -->
	<div th:id="${action}+'Modal'" class="modal fade" role="dialog" >
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" >Quick [[${#strings.capitalize(action)}]]</h4>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
	      </div>
	      <div class="modal-body" th:with="modalBodyUrl = 'demo_1/partials/personnel/_'+${action}+' :: '+ ${action}">
      		  <form class="forms-sample" th:action="@{/admin/personnel}" method="POST" th:object="${selectedAccount}">
	      		  <section  th:replace="__${modalBodyUrl}__">
				  	<!-- partial:partials/_edit.html partial:partials/_delete.html-->
				  </section>
			  </form>
	      </div>
	      <div class="modal-footer" >
	    	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-danger">[[${#strings.capitalize(action)}]]</button>
	      </div>
	    </div>
	  </div>
	</div>
</span>